[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
certifi = "*"
django = "==4.0"
django-debug-toolbar = "*"
django-phonenumber-field = "*"
gunicorn = "*"
idna = "*"
phonenumbers = "*"
pillow = "*"
requests = "*"
sqlparse = "*"
urllib3 = "*"
whitenoise = "*"
factory-boy = "*"
psycopg2-binary = "*"
faker = "*"

[dev-packages]

[requires]
python_version = "3.9"
