{% extends 'grids/grid-style2x1-1.html' %}
{% load static %}

{% block pageheader %}
<div class="header3">{{page_subtitle}}</div>
<div class="header1">{{page_title}}</div>
{% endblock pageheader %}

{% block cell1 %}
<div class="header2">Member Access List</div>
<div class="card">
    <div class="body">
        {% include 'components/rowstrip.html' %}
        {% include 'components/rowstrip.html' %}
        
    </div>
</div>
{% endblock cell1 %}


{% block cell2 %}
<div class="header2">Statistics</div>
<div class="card">
        <div class="grid grid-style-evensquaregrid">
            {% include 'components/badge.html' %}
            {% include 'components/badge.html' %}
            {% include 'components/badge.html' %}
            {% include 'components/badge.html' %}
        </div>
</div>
{% endblock cell2 %}


{% block cell3 %}
<div class="header2">Info and Gallery</div>
<div class="card">
    <div class="body">
        {% include 'components/rowstrip.html' %}
        
    </div>
</div>
{% endblock cell3 %}