{% extends 'grids/grid-style3x2.html' %}
{% load static %}

{% block pageheader %}
<div class="header1">{{page_title}}</div>
{% endblock pageheader %}

{% block cell1 %}
<div class="header2">Member Snapshot</div>

{% endblock cell1 %}


{% block cell2 %}
<div class="header2">Join Requests</div>
{% endblock cell2 %}


{% block cell3 %}
<div class="header2">Amenity Snapshot</div>
{% for place, amenities in amenity_groupings.items %}
    <div class="header3">{{place}}</div>

    {% for amenity in amenities %}
        {% include 'components/card.html' with title=amenity.name %}
        {% comment %} {{amenity}} {% endcomment %}
    {% endfor %}

{% endfor %}
{% endblock cell3 %}