{% extends 'grids/grid-style3x3-Member.html' %}
{% load static %}

{% block pageheader %}
<div class="header1">{{page_title}}</div>
{% endblock pageheader %}

{% block cell1 %}
<div class="header1">+</div>

{% endblock cell1 %}


{% block cell2 %}
<div class="header1">Search</div>
{% endblock cell2 %}


{% block cell3 %}
<div class="header2">Your images/ProfileIcon</div>
{% endblock cell3 %}


{% block cell4 %}
<div class="header2">Upcoming Reservations</div>
{% endblock cell4 %}


{% block cell5 %}
<div class="header2">Frequent Amenities</div>
{% endblock cell5 %}


{% block cell6 %}
<div class="header2">History</div>
{% endblock cell6 %}