{% extends 'grids/grid-style1x3-Member.html' %}
{% load static %}

{% block pageheader %}
<div class="header3">{{page_subtitle}}</div>
<div class="header1">{{page_title}}</div>
{% endblock pageheader %}

{% block cell1 %}
<input class="searchbar">

</input>
{% endblock cell1 %}


{% block cell2 %}
<div class="card card--grey" style="height: fit-content;">
    <div class="header2">Frequent Amenities</div>
    <div class="grid grid-simple-grid">
        {% for amenity in recent_amenities %}
            {% include 'components/card--amenity.html' with name="Gym" link="https://www.google.com/" %}
        {% endfor %}
        {% comment %} {% include 'components/card--amenity.html' %}
        {% include 'components/card--amenity.html' %}
        {% include 'components/card--amenity.html' %} {% endcomment %}
    </div>
    
</div>
{% endblock cell2 %}


{% block cell3 %}
<div class="card card--grey">
    <div class="header2">All Your Places</div>

    {% for place, amenities in amenity_groupings.items %}
        <div class="card" style="margin-bottom: 20px;">
            <div class="header3">{{place.name}}</div>
            <div class="grid grid-simple-grid">
            {% for amenity in amenities %}
                {% include 'components/card--amenity.html' with name=amenity.name link="https://www.google.com/" %}
            {% endfor %}
            </div>
    </div>
    {% endfor %}
    
</div>
{% endblock cell3 %}

