{% extends 'externalApp/index.html' %}
{% load static %}

{% block content %}
<div class="section" id="hero-section">
    <h1>Login</h1>
    <form method="POST" action="{% url 'auth:login_request' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ login_form.as_p }}
        <button class="">Login</button>
        
        {% if messages %}
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        {% endif %}
    </form>

    
    
</div>


{% endblock content %}