{% extends 'base.html' %} {% load static %} {% block headers %}
<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/timeslots.css' %}"
/>
{% endblock headers %} {% block pageheader %}
<div class="header2 card-shade-grey">{{page_subtitle}}</div>
<div class="header1">{{page_title}}</div>
{% endblock pageheader %} {% block content %}

<span>{{amenity.timeslot}}</span>


{% include 'components/card.html' with name="container-card style4" %}



<!-- <script src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"></script>
<script> //Loading json timeslots from object into the page for the js to interact
    var jsonTimeslots = {{ jsonTimeslots | safe }};
    console.log(jsonTimeslots);
</script>

<script src="{% static 'js/loadTimeslots.js' %}" type="text/javascript" charset="utf-8"></script> -->

{% endblock content %}
