{% extends 'base.html' %}
{% load static %}

{% block pageheader %}
<div class="header3">{{page_subtitle}}</div>
<div class="header1">{{page_title}}</div>
{% endblock pageheader %}

{% block content %}
{% include "components/searchbar.html" %}

<div class="card card--grey">
{% if place_amenity_groupings %}
    {% for place, amenities in place_amenity_groupings.items %}
        <div class="header2">{{place}}</div>
        <a href="" class="button">
            <div class="button__text">+ Join Place</div>
        </a>

        <div class="card card--white">
            {% if amenities %}
                {% for amenity in amenities %}
                    {% include 'components/card--amenity.html' with amenity=amenity%}
                {% endfor %}
            {% else %}
                <div class="header2">Nothing here yet</div>
            {% endif %}
        </div>

    {% endfor %}
{% else %}
    <div class="header2">No Communities... Yet - So make one !</div>
{% endif %}
</div>

{% endblock content %}

