{% extends 'grids/grid-style3x3-Member.html' %}
{% load static %}

{% block pageheader %}
<div class="header1">{{page_title}}</div>
{% endblock pageheader %}

{% block cell1 %}
<a class="button button--cardsize" onclick="window.location='{% url "member-places" %}';">
    <div class="header1">+</div>
</a>
{% endblock cell1 %}


{% block cell2 %}
<a href="" class="button button--cardsize">
    <div class="header1">Search</div>
</a>
{% endblock cell2 %}


{% block cell3 %}
<a href="" class="button button--cardsize">
    <div class="header2">ProfileIcon</div>
</a>
{% endblock cell3 %}


{% block cell4 %}
<div class="card card--grey">
    <div class="header2">Upcoming Reservations</div>
    <div class="card">

        {% include 'components/rowstrip.html' %}
        {% for reservation in reservations %}
            {% include 'components/rowstrip.html' %}
        {% endfor %}
    </div>
</div>
{% endblock cell4 %}


{% block cell5 %}
<div class="card card--grey">
    <div class="header2" onclick="window.location='{% url "member-places" %}';">Frequent Amenities</div>
    <div class="grid grid-badge-grid">
        {% include "components/badge.html" %}
        {% include "components/badge.html" %}
        {% include "components/badge.html" %}
        {% include "components/badge.html" %}
        {% include "components/badge.html" %}
        {% include "components/badge.html" %}
    </div>
    <div class="grid grid-simple-grid">
        {% for amenity in recent_amenities %}
            {% include 'components/card--amenity.html' with amenity=amenity %}
        {% endfor %}
    </div>
</div>
{% endblock cell5 %}


{% block cell6 %}
<div class="card card--grey">
    <div class="header2" onclick="window.location='{% url "member-places" %}';">History</div>
    <div style="">
        {% include 'components/rowstrip.html' %}
        {% include 'components/rowstrip.html' %}
        {% include 'components/rowstrip.html' %}
    </div>
</div>
{% endblock cell6 %}