@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

// Variables
$dominant: #ffffff;
$secondary: #ff979c;
$accent: #0487ff;

$dominant-gradient: linear-gradient(90deg, $dominant 0%, #fcfcfc 100%);
$secondary-gradient: linear-gradient(90deg, $secondary 0%, #ffffff 100%);
$accent-gradient: linear-gradient(90deg, #36cae6 0%, #3545df 100%);

$shade-white: #ffffff;
$shade-dark: #061221;
$shade-grey: #b0b0b0;
$shade-grey--light: #e9e9e9;

$feedback-active: #008cff;
$feedback-success: #26a420;
$feedback-error: #ff0000;

$feedback-active-gradient: linear-gradient(
    to left,
    $feedback-active 0%,
    #7ab7f0 100%
);
$feedback-success-gradient: linear-gradient(
    90deg,
    $feedback-success 0%,
    #43e13b 100%
);
$feedback-error-gradient: linear-gradient(
    90deg,
    $feedback-error 0%,
    #ff979c 100%
);

$tealgradient: linear-gradient(90deg, #36cae6 0%, #3545df 100%);

$blue: #2457e4;
$green: #0dce83;
$turquoise: #10e5d9;
$brightred: #f03d10;
$darkgrey: #a0a0a0;
$grey: #e0e0e0;
$lightgrey: #f2f2f2;

$poppins: "Poppins", sans-serif;
$open-sans: "Open Sans", sans-serif;
$montserrat: "Montserrat", sans-serif;
$nunito: "Nunito", sans-serif;

$box-shadow--light: rgba(126, 126, 126, 0.144) 0px 0px 10px;
// Style classes

.color {
    &-dominant {
        color: $dominant;
    }
    &-secondary {
        color: $secondary;
    }
    &-accent {
        color: $accent;
    }

    &-active {
        color: $feedback-active;
    }
    &-success {
        color: $feedback-success;
    }
    &-error {
        color: $feedback-error;
    }

    &-gradient {
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &-teal {
            background: $tealgradient;
        }
        &-active {
            background: linear-gradient(to right, $feedback-active, white);
        }
        &-success {
            background: linear-gradient(to right, $feedback-success, white);
        }
        &-error {
            background: linear-gradient(to right, $feedback-error, white);
        }
    }

    &-shade-white {
        color: $shade-white;
    }
    &-shade-dark {
        color: $shade-dark;
    }
    &-shade-grey {
        color: $shade-grey;
    }
}

.background {
    &-dominant {
        background: $dominant;
    }
    &-secondary {
        background: $secondary;
    }
    &-accent {
        background: $accent;
    }

    &-active {
        background: $feedback-active;
    }
    &-success {
        background: $feedback-success;
    }
    &-error {
        background: $feedback-error;
    }

    &-gradient-active {
        background: linear-gradient(to right, $feedback-active, white);
    }
    &-gradient-success {
        background: linear-gradient(to right, $feedback-success, white);
    }
    &-gradient-error {
        background: linear-gradient(to right, $feedback-error, white);
    }

    &-shade-white {
        background: $shade-white;
    }
    &-shade-dark {
        background: $shade-dark;
    }
    &-shade-grey {
        background: $grey;
    }
}

// Components
* {
    box-sizing: border-box;
}

.header1 {
    /* Heading 1 */

    width: 100%;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: auto;
    /* identical to box height, or 210% */
}

.header2 {
    /* Heading 2 */

    // width: 100%;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: auto;
    padding: 5px 0 5px 0;
    /* identical to box height, or 119% */
}

.header3 {
    /* Heading 3 */

    width: 100%;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    /* identical to box height, or 315% */
}
.header4 {
    /* Heading 3 */

    width: 100%;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    /* identical to box height, or 315% */
}

.body1 {
    /* Body 1 */

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    padding: 0 0 6px 0;
    /* identical to box height, or 190% */

    letter-spacing: 0.5px;
}

.body2 {
    /* Body 2 */

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: auto;
    /* identical to box height, or 160% */

    letter-spacing: 0.5px;
}

.button_text {
    /* Button Text */

    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.5px;
    /* identical to box height, or 180% */
}

.link_text {
    /* Link Text */
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    /* identical to box height, or 115% */

    &:hover {
        color: rgb(188, 188, 188);
        cursor: pointer;
    }
}

.navbar {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    > div {
        width: fit-content;
        margin: 0 20px 0 0;
    }
}

.button,
button {
    position: relative;
    width: fit-content;
    height: fit-content;
    padding: 8px 15px;
    border-radius: 30px;
    overflow: hidden;
    text-decoration: none !important;
    background: $shade-white;

    outline: none;
    border: none;
    outline-offset: -2px;
    transition: outline ease 0.01s;
    transition: transform linear 0.1s;
    color: $shade-grey;

    &:hover {
        cursor: pointer;
        border-width: 2px;
        color: black;
        transform: scale(1.03);
    }

    &.style1 {
        outline: none;
        background: $feedback-active-gradient;
        color: white;
    }

    &.style2 {
        outline: none;
        background: $feedback-success-gradient;
        color: white;
    }

    &.style3 {
        outline: none;
        background: $feedback-error-gradient;
        color: white;
    }

    &.style4 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100%;
        min-height: 150px;
        outline: none;
        border-radius: 18px;
        transition: transform linear 0.1s;

        background: $accent-gradient;
        color: $shade-white;

        .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            align-items: center;
            text-align: center;

            background: rgba(0, 0, 0, 0);
            transition: opacity ease-out 0.15s;
        }

        &:hover {
            .overlay {
                background: rgba(0, 0, 0, 0.622);
            }
        }
    }
    &.style5 {
        width: 100%;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        outline: none;
        border-radius: 8px;
        border: none;
        background: $feedback-active-gradient;

        font-size: 12px;
        color: white;
        &:hover {
            cursor: pointer;
            transform: scale(1);
        }
    }
    &.style6 {
        width: 100%;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        outline: none;
        border-radius: 8px;
        border: none;
        background: $feedback-active-gradient;

        font-size: 12px;
        color: white;
        &:hover {
            cursor: pointer;
            transform: scale(1);
        }
    }
    &.site-toggle {
        position: relative;
        // max-width: 200px;
        // width: 100%;
        // width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        border-radius: 12px;
        // overflow: hidden;
        text-decoration: none !important;
        background: none;

        outline: solid 1px $shade-grey;
        // outline-offset: -2px;
        transition: none !important;
        padding: 0;
        color: $shade-grey;

        &:hover {
            transform: none;
            cursor: default;
        }

        .half {
            height: fit-content;
            width: 100%;
            width: 70px;
            border-radius: 12px;
            padding: 20px 5px;
            text-align: center;
            transform: scale(1.001);

            &.left {
                // background: $feedback-error;
                background: linear-gradient(
                    90deg,
                    $feedback-error 0%,
                    #ff979c 100%
                );
            }
            &.right {
                // background: $feedback-active;
                background: linear-gradient(
                    to left,
                    $feedback-active 0%,
                    #7ab7f0 100%
                );
            }

            &.toggled {
                color: $shade-white;
                pointer-events: none;
                cursor: default;
            }
            &:not(.toggled) {
                background: none;
                &:hover {
                    cursor: pointer;
                    border-width: 2px;
                    transform: scale(1.03);
                    color: $shade-dark;
                }
            }
        }
    }
    /* Style the buttons inside the tab */
    &.tablinks {
        box-sizing: content-box;
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        border-radius: 0;
        cursor: pointer;
        padding: 8px 16px;
        /*   transition: 0.3s; */
        font-size: 12px;
        font-family: "Montserrat", sans-serif;
        letter-spacing: 0.2px;
        text-transform: uppercase;
        color: rgb(134, 134, 134);

        &:hover {
            transform: none;
        }
        &.active {
            color: black;
            border-bottom: solid #008cff 2px;
            transform: scale(1.01);
        }
    }
}

.badge {
    position: relative;
    // width: 100px;
    // min-height: 100px;
    // height: 100px;
    height: 100%;
    width: 100%;
    background: #fcfcfc;
    box-shadow: $box-shadow--light;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    color: $blue;

    .badge__value {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font: 600 25px $poppins;
        color: $darkgrey;
    }

    .badge__title {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        font: 700 12px $poppins;
        text-align: center;
        color: $darkgrey;
    }
}

.strip {
    position: relative;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 0 0 30px;
    background-color: #ffffff;
    box-shadow: $box-shadow--light;
    border-radius: 8px;
    overflow: hidden;

    .strip__title {
        font-family: $nunito;
        font-size: 20px;
        color: $blue;
    }

    .strip__value {
        font-family: $nunito;
        font-size: 17px;
        color: black;
    }

    .strip__accent {
        height: 100%;
        width: 10px;
        position: absolute;
        top: 0;
        left: 0;
        background: $blue;
    }
}

.table-banner {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    flex-basis: 0;
    // background: green;

    > div {
        display: flex;
        align-items: center;
    }

    .table-banner__title {
        flex: 1;
        font-family: $montserrat;
        font-size: 15px;
        font-weight: 600;
        color: rgb(121, 121, 121);
    }

    .table-banner__amount {
        flex: 1;
        font-family: $montserrat;
        font-size: 15px;
        font-weight: 600;
        color: rgb(121, 121, 121);
        justify-content: center;
    }

    .table-banner__button {
        flex: 1;
        justify-content: flex-end;
    }
}

.table {
    width: 100%;
    height: fit-content;
    border-collapse: collapse;
    grid-gap: 0;

    th {
        align-items: center;
        text-align: center;
        // letter-spacing: 0.5px;

        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
    }
    td {
        padding: 3px 3px;
        align-items: center;
        letter-spacing: 0.5px;
        text-align: center;

        &.rowheader {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
        }

        &.selected {
            background: $feedback-active;
        }
        &:hover {
            opacity: 80%;
        }
    }
    tr {
        background-color: rgba(255, 255, 255, 0.438);
        &.rowhour {
            font-size: 15px;
            color: black;
            height: 20px;
            background-color: rgba(255, 255, 255, 0.798);
            /* margin: 10px; */

            td.selected {
                background: #3fa8ff;
            }
        }
    }
}

.profileicon {
    position: relative;
    height: fit-content;
    min-height: 80px;
    width: 60px;

    .profileicon__image {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;
        background: $blue;
        box-shadow: $box-shadow--light;
    }

    .profileicon__name {
        width: 100%;
        font-family: $montserrat;
        font-size: 12px;
        font-weight: 400;
        text-align: center;
        overflow: hidden;
    }
}

.container-card {
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: 10px 0 20px 0;

    .header {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
    .rectangle {
        width: 100%;
        min-height: 200px;
        height: fit-content;
        border-radius: 20px;
        overflow: hidden;
        // box-shadow: $box-shadow--light;
        background: rgba(255, 255, 255, 0.429);
        backdrop-filter: blur(4px);
        padding: 15px;
        text-decoration: none;
    }
    .button {
        pointer-events: none;
        opacity: 60%;
        transition: opacity linear 0.25s;
        transition-delay: 500ms;
    }

    &:hover .button {
        pointer-events: all;
        opacity: 100%;
        // transition: opacity linear 0.1s 1s;
        transition-delay: 0ms;
    }

    // CONTAINER CARDS
    &.style1 {
        .rectangle {
            box-sizing: border-box;
            position: relative;
            // max-height: 50vh;
            overflow: auto;
            display: grid;
            grid-gap: 15px;
            grid-template-columns: 300px 1fr;
            grid-template-rows: fit-content 10px 1fr;
            grid-template-areas:
                "a b"
                "a c"
                "a d";
            :nth-child(1) {
                // max-height: 40vh;
                grid-area: a;
            }
            :nth-child(2) {
                grid-area: b;
                display: flex;
                flex-wrap: wrap;

                > .info-card {
                    margin-right: 10px;
                }
            }
            :nth-child(4) {
                // background: red;
                position: relative;
                position: relative;
                grid-area: d;
                .quick-look {
                    box-sizing: border-box;
                    position: relative;
                    width: 100%;
                    max-height: 400px;
                    height: fit-content;
                    box-sizing: border-box;
                    // padding: 5px;

                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    // overflow: auto;
                    > div {
                        flex: 1;
                        min-width: 200px;
                        margin: 5px;
                    }
                    // grid-template-rows: 200px;
                }
            }
        }
    }
    &.style1-2 {
        .rectangle {
            // heig
            position: relative;
            display: grid;
            grid-gap: 15px;
            grid-template-columns: 300px 1fr;
            grid-template-rows: fit-content 10px 1fr;
            grid-template-areas:
                "a b"
                "a c"
                "a d";
            :nth-child(1) {
                grid-area: a;
            }
            :nth-child(2) {
                grid-area: b;
                display: flex;
                flex-wrap: wrap;

                > .info-card {
                    margin-right: 10px;
                }
            }
            :nth-child(4) {
                // background: red;
                position: relative;
                grid-area: d;
                .quick-look {
                    width: 100%;
                    height: fit-content;

                    grid-gap: 15px;
                    grid-template-columns: repeat(
                        auto-fill,
                        minmax(300px, 1fr)
                    );
                    // grid-template-rows: 200px;
                }
            }
        }
    }

    &.style2 {
        .rectangle {
            display: grid;
            grid-gap: 15px;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            grid-auto-rows: 150px;
        }
    }
    &.style3 {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-auto-rows: 150px;

        padding-top: 50px;
    }
    &.style4 {
        display: grid;
        padding: 0;
        grid-gap: 15px;
        grid-auto-columns: 250px;
        grid-template-columns: repeat(auto-fill, 200px);
    }
}

// REGULAR CARDS
.amenity-card {
    position: relative;
    height: 100%;
    min-height: 150px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    padding: 0;
    overflow: hidden;
    border-radius: 18px;
    background: $tealgradient;

    transition: box-shadow linear 0.1s;
    transition: transform linear 0.05s;

    &:hover {
        cursor: pointer;
        box-shadow: 0px 0px 6px $shade-grey;
        transform: scale(1.02);
    }

    .info {
        height: fit-content;
        width: fit-content;
        padding: 10px 15px 10px 15px;
        border-top-left-radius: 25px;
        background: white;
        > div {
            color: $shade-grey;
            text-align: right;
        }
    }
}

.place-card {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    padding: 0;
    overflow: hidden;
    outline: solid rgba(255, 255, 255, 0) 6px;
    // outline: solid $feedback-success 6px;
    outline-offset: -6px;

    background-clip: padding-box;
    mask-clip: padding-box;
    border-radius: 18px;
    background: $tealgradient;
    transition: box-shadow linear 0.1s;
    transition: outline linear 0.1s;
    transition: transform linear 0.05s;
    $p: &;

    &:hover {
        cursor: pointer;
        transform: scale(1.02);
    }

    img {
        opacity: 0;
    }

    &.verified {
        outline: solid $feedback-success 6px;

        .overlay {
            display: none;
        }
        img {
            opacity: 100%;
        }
        &:hover {
            cursor: pointer;
            box-shadow: 0px 0px 6px $shade-grey;
        }
    }

    .info {
        position: absolute;
        bottom: 40px;
        right: 20px;

        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        width: 90%;
        height: fit-content;
        // padding: 10px 15px 10px 0px;
        // border: solid black 1px;
        > div {
            text-align: right;
            line-height: normal;
            // background-color: red;
            text-shadow: -3px 2px 4px #004d6ec2;
        }
    }
    > img {
        position: absolute;
        height: 25px;
        width: 25px;
        bottom: 20px;
        right: 20px;
    }

    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;

        opacity: 0;
        align-items: center;
        text-align: center;
        background: rgba(0, 0, 0, 0.622);
        transition: opacity ease-out 0.15s;
    }

    &:hover .overlay {
        opacity: 100%;
    }
}

.info-card {
    width: fit-content;
    height: fit-content;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background: $shade-white;
    border-radius: 10px;
    outline: solid 2px rgba(0, 0, 0, 0);
    // outline: solid 2px rgba(0, 0, 0, 0.647);

    margin-bottom: 10px;

    > div:nth-child(1) {
        user-select: none;
    }
    > div:nth-child(2) {
        user-select: text;
        font-size: 13px;
    }

    &.style2 {
        width: 100%;
        min-height: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 12px 15px;
        margin-bottom: 10px;

        .info {
            flex: 1;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            // background-color: red;

            > div:nth-child(2) {
                text-align: right;
                margin-right: 20px;
            }
        }
        .buttons {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: fit-content;
            min-width: 50px;
            background-color: green;
        }
    }
}

.availability-card {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    outline: solid 2px rgba(0, 0, 0, 0);
    text-align: center;
    transition: transform linear 0.1s;
    &:hover {
        // transform: scale(1.01);
    }

    .rectangle {
        width: 100%;
        height: fit-content;
        border-radius: 20px;
        overflow: hidden;
        // box-shadow: $box-shadow--light;
        // background: $shade-grey--light;
        background: rgba(255, 255, 255, 0.42);
        backdrop-filter: blur(4px);
        padding: 15px;
        text-decoration: none;
        transition: all ease-in-out 0.2s;

        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}

.timeslot {
    width: 100%;
    height: fit-content;
    padding: 13px 10px;
    margin-bottom: 10px;

    background: $shade-white;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;

    &.selected {
        color: $shade-white;
        background: $feedback-active-gradient;
    }
    &.reserved {
        border: none;
        background: $feedback-success-gradient;
        color: $shade-white;
        pointer-events: none;
        cursor: default;
    }
    &:hover {
        &,
        &.selected {
            transform: scale(1.02);
        }
    }
    &.unavailable {
        border: none;
        background: $shade-grey;
        color: $shade-white;
        pointer-events: none;
        cursor: default;
    }
}

// FORMS
.modal {
    display: none;
    justify-content: center;
    // align-items: center;

    padding: 10%;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(6, 112, 144, 0.407);

    > div {
        max-width: 100%;
        grid-gap: 15px;
        // width: fit-content;
        height: fit-content;
        // display: none;
        min-width: fit-content;
        justify-items: center;
        align-items: center;
        // width: fit-content;
        // height: 100%;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        // overflow: auto;
    }
}

form {
    // display: none;
    position: relative;
    width: 350px;
    // height: 600px;
    height: fit-content;

    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    background: rgba(255, 255, 255, 0.42);
    backdrop-filter: blur(4px);
    border-radius: 18px;
    padding: 60px 35px 35px 35px;

    .header {
        padding-bottom: 30px;
        .title {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            color: $shade-dark;
        }
        .subtitle {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 300;
            font-size: 15px;
            letter-spacing: 0.5px;
            color: $shade-grey;
        }
    }

    .content {
        > div {
            margin-bottom: 15px;
        }
        p {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
        label {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            padding-bottom: 3px;
            // color: $shade-grey;
            color: $shade-dark;
            text-transform: lowercase;
        }

        input {
            height: 45px;
            width: 100%;
            padding: 10px 15px;
            border-radius: 10px;

            outline: none;
            border: none;
            background: $shade-white;

            font-family: "Poppins";
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            letter-spacing: 0.5px;

            color: $shade-dark;
            &::placeholder {
                /* Chrome, Firefox, Opera, Safari 10.1+ */
                opacity: 1; /* Firefox */
                color: $shade-grey--light;
                font-weight: 300;
                text-transform: lowercase;
            }

            &:focus {
                color: $shade-dark;
                border: solid 3px $feedback-active;
            }
            &:active {
            }
        }

        .button {
            margin-bottom: 10px;
        }
    }

    hr {
        border: solid rgb(224, 224, 224) 1px;
        margin-bottom: 15px;
    }
}

.progressbar {
    .progressbar__title {
    }

    .progressbar__capacity {
    }
}

.progressbar__bar {
    .progressbar__bar__slider {
    }
}

.rowstrip {
    position: relative;
    height: 40px;
    width: 100%;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background: linear-gradient(to bottom right, #f1f9ff 10%, #ffffff);
    padding: 5px 20px 5px 20px;
    // margin-bottom: 4px;
    transition: all 0.1s;

    &:hover {
        background: linear-gradient(to right, #a1d6ff 10%, #ffffff);
        cursor: pointer;
    }

    .rowstrip__name {
        color: $darkgrey;
        font: 600 13px $open-sans;
    }

    .rowstrip_actions {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        > div {
            margin-left: 8px;
        }
    }

    .tinybadge {
        padding: 4px;
        height: fit-content;
        width: fit-content;
        border-radius: 5px;
        background: $grey;
        color: $darkgrey;
        font: 700 8px $open-sans;
    }
}

.searchbar {
    width: 100%;
    height: 60px;
    border-radius: 30px;
    padding: 4px 30px;
    outline: none;
    border: none;
    background: $shade-grey--light;

    width: 100%;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: $shade-grey;
    /* identical to box height, or 315% */

    &:hover {
        // border: solid $grey 2px;
        cursor: text;
    }

    &:focus {
        color: $shade-dark;
        // border: solid $shade-grey 1px;
    }
}

// .timeslot {
//     width: 100%;
//     height: 60px;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding: 0 30px;
//     border-radius: 50px;
//     font: 300 20px $poppins;
//     background: $grey;
//     margin-bottom: 10px;

//     > div:nth-child(3) {
//         color: red;
//         font: 300 20px $poppins;
//     }
// }
