@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
.color-dominant {
  color: #ffffff;
}

.color-secondary {
  color: #ff979c;
}

.color-accent {
  color: #0487ff;
}

.color-active {
  color: #008cff;
}

.color-success {
  color: #26a420;
}

.color-error {
  color: #ff0000;
}

.color-gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.color-gradient-teal {
  background: -webkit-gradient(linear, left top, right top, from(#36cae6), to(#3545df));
  background: linear-gradient(90deg, #36cae6 0%, #3545df 100%);
}

.color-gradient-active {
  background: -webkit-gradient(linear, left top, right top, from(#008cff), to(white));
  background: linear-gradient(to right, #008cff, white);
}

.color-gradient-success {
  background: -webkit-gradient(linear, left top, right top, from(#26a420), to(white));
  background: linear-gradient(to right, #26a420, white);
}

.color-gradient-error {
  background: -webkit-gradient(linear, left top, right top, from(#ff0000), to(white));
  background: linear-gradient(to right, #ff0000, white);
}

.color-shade-white {
  color: #ffffff;
}

.color-shade-dark {
  color: #061221;
}

.color-shade-grey {
  color: #b0b0b0;
}

.background-dominant {
  background: #ffffff;
}

.background-secondary {
  background: #ff979c;
}

.background-accent {
  background: #0487ff;
}

.background-active {
  background: #008cff;
}

.background-success {
  background: #26a420;
}

.background-error {
  background: #ff0000;
}

.background-gradient-active {
  background: -webkit-gradient(linear, left top, right top, from(#008cff), to(white));
  background: linear-gradient(to right, #008cff, white);
}

.background-gradient-success {
  background: -webkit-gradient(linear, left top, right top, from(#26a420), to(white));
  background: linear-gradient(to right, #26a420, white);
}

.background-gradient-error {
  background: -webkit-gradient(linear, left top, right top, from(#ff0000), to(white));
  background: linear-gradient(to right, #ff0000, white);
}

.background-shade-white {
  background: #ffffff;
}

.background-shade-dark {
  background: #061221;
}

.background-shade-grey {
  background: #e0e0e0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header1 {
  /* Heading 1 */
  width: 100%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: auto;
  /* identical to box height, or 210% */
}

.header2 {
  /* Heading 2 */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: auto;
  padding: 5px 0 5px 0;
  /* identical to box height, or 119% */
}

.header3 {
  /* Heading 3 */
  width: 100%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  /* identical to box height, or 315% */
}

.header4 {
  /* Heading 3 */
  width: 100%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  /* identical to box height, or 315% */
}

.body1 {
  /* Body 1 */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  padding: 0 0 6px 0;
  /* identical to box height, or 190% */
  letter-spacing: 0.5px;
}

.body2 {
  /* Body 2 */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: auto;
  /* identical to box height, or 160% */
  letter-spacing: 0.5px;
}

.button_text {
  /* Button Text */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.5px;
  /* identical to box height, or 180% */
}

.link_text {
  /* Link Text */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  /* identical to box height, or 115% */
}

.link_text:hover {
  color: #bcbcbc;
  cursor: pointer;
}

.navbar {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar > div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 20px 0 0;
}

.button,
button {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 8px 15px;
  border-radius: 30px;
  overflow: hidden;
  text-decoration: none !important;
  background: #ffffff;
  outline: none;
  border: none;
  outline-offset: -2px;
  -webkit-transition: outline ease 0.01s;
  transition: outline ease 0.01s;
  -webkit-transition: -webkit-transform linear 0.1s;
  transition: -webkit-transform linear 0.1s;
  transition: transform linear 0.1s;
  transition: transform linear 0.1s, -webkit-transform linear 0.1s;
  color: #b0b0b0;
  /* Style the buttons inside the tab */
}

.button:hover,
button:hover {
  cursor: pointer;
  border-width: 2px;
  color: black;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.button.style1,
button.style1 {
  outline: none;
  background: -webkit-gradient(linear, right top, left top, from(#008cff), to(#7ab7f0));
  background: linear-gradient(to left, #008cff 0%, #7ab7f0 100%);
  color: white;
}

.button.style2,
button.style2 {
  outline: none;
  background: -webkit-gradient(linear, left top, right top, from(#26a420), to(#43e13b));
  background: linear-gradient(90deg, #26a420 0%, #43e13b 100%);
  color: white;
}

.button.style3,
button.style3 {
  outline: none;
  background: -webkit-gradient(linear, left top, right top, from(#ff0000), to(#ff979c));
  background: linear-gradient(90deg, #ff0000 0%, #ff979c 100%);
  color: white;
}

.button.style4,
button.style4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  min-height: 150px;
  outline: none;
  border-radius: 18px;
  -webkit-transition: -webkit-transform linear 0.1s;
  transition: -webkit-transform linear 0.1s;
  transition: transform linear 0.1s;
  transition: transform linear 0.1s, -webkit-transform linear 0.1s;
  background: -webkit-gradient(linear, left top, right top, from(#36cae6), to(#3545df));
  background: linear-gradient(90deg, #36cae6 0%, #3545df 100%);
  color: #ffffff;
}

.button.style4 .overlay,
button.style4 .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  text-align: center;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: opacity ease-out 0.15s;
  transition: opacity ease-out 0.15s;
}

.button.style4:hover .overlay,
button.style4:hover .overlay {
  background: rgba(0, 0, 0, 0.622);
}

.button.style5,
button.style5 {
  width: 100%;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  outline: none;
  border-radius: 8px;
  border: none;
  background: -webkit-gradient(linear, right top, left top, from(#008cff), to(#7ab7f0));
  background: linear-gradient(to left, #008cff 0%, #7ab7f0 100%);
  font-size: 12px;
  color: white;
}

.button.style5:hover,
button.style5:hover {
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.button.style6,
button.style6 {
  width: 100%;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  outline: none;
  border-radius: 8px;
  border: none;
  background: -webkit-gradient(linear, right top, left top, from(#008cff), to(#7ab7f0));
  background: linear-gradient(to left, #008cff 0%, #7ab7f0 100%);
  font-size: 12px;
  color: white;
}

.button.style6:hover,
button.style6:hover {
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.button.site-toggle,
button.site-toggle {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 12px;
  text-decoration: none !important;
  background: none;
  outline: solid 1px #b0b0b0;
  -webkit-transition: none !important;
  transition: none !important;
  padding: 0;
  color: #b0b0b0;
}

.button.site-toggle:hover,
button.site-toggle:hover {
  -webkit-transform: none;
          transform: none;
  cursor: default;
}

.button.site-toggle .half,
button.site-toggle .half {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  width: 70px;
  border-radius: 12px;
  padding: 20px 5px;
  text-align: center;
  -webkit-transform: scale(1.001);
          transform: scale(1.001);
}

.button.site-toggle .half.left,
button.site-toggle .half.left {
  background: -webkit-gradient(linear, left top, right top, from(#ff0000), to(#ff979c));
  background: linear-gradient(90deg, #ff0000 0%, #ff979c 100%);
}

.button.site-toggle .half.right,
button.site-toggle .half.right {
  background: -webkit-gradient(linear, right top, left top, from(#008cff), to(#7ab7f0));
  background: linear-gradient(to left, #008cff 0%, #7ab7f0 100%);
}

.button.site-toggle .half.toggled,
button.site-toggle .half.toggled {
  color: #ffffff;
  pointer-events: none;
  cursor: default;
}

.button.site-toggle .half:not(.toggled),
button.site-toggle .half:not(.toggled) {
  background: none;
}

.button.site-toggle .half:not(.toggled):hover,
button.site-toggle .half:not(.toggled):hover {
  cursor: pointer;
  border-width: 2px;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  color: #061221;
}

.button.tablinks,
button.tablinks {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  border-radius: 0;
  cursor: pointer;
  padding: 8px 16px;
  /*   transition: 0.3s; */
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #868686;
}

.button.tablinks:hover,
button.tablinks:hover {
  -webkit-transform: none;
          transform: none;
}

.button.tablinks.active,
button.tablinks.active {
  color: black;
  border-bottom: solid #008cff 2px;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.badge {
  position: relative;
  height: 100%;
  width: 100%;
  background: #fcfcfc;
  -webkit-box-shadow: rgba(126, 126, 126, 0.144) 0px 0px 10px;
          box-shadow: rgba(126, 126, 126, 0.144) 0px 0px 10px;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
  color: #2457e4;
}

.badge .badge__value {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font: 600 25px "Poppins", sans-serif;
  color: #a0a0a0;
}

.badge .badge__title {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font: 700 12px "Poppins", sans-serif;
  text-align: center;
  color: #a0a0a0;
}

.strip {
  position: relative;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 0 0 30px;
  background-color: #ffffff;
  -webkit-box-shadow: rgba(126, 126, 126, 0.144) 0px 0px 10px;
          box-shadow: rgba(126, 126, 126, 0.144) 0px 0px 10px;
  border-radius: 8px;
  overflow: hidden;
}

.strip .strip__title {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  color: #2457e4;
}

.strip .strip__value {
  font-family: "Nunito", sans-serif;
  font-size: 17px;
  color: black;
}

.strip .strip__accent {
  height: 100%;
  width: 10px;
  position: absolute;
  top: 0;
  left: 0;
  background: #2457e4;
}

.table-banner {
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.table-banner > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table-banner .table-banner__title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #797979;
}

.table-banner .table-banner__amount {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #797979;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.table-banner .table-banner__button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.table {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-collapse: collapse;
  grid-gap: 0;
}

.table th {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}

.table td {
  padding: 3px 3px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.5px;
  text-align: center;
}

.table td.rowheader {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
}

.table td.selected {
  background: #008cff;
}

.table td:hover {
  opacity: 80%;
}

.table tr {
  background-color: rgba(255, 255, 255, 0.438);
}

.table tr.rowhour {
  font-size: 15px;
  color: black;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.798);
  /* margin: 10px; */
}

.table tr.rowhour td.selected {
  background: #3fa8ff;
}

.profileicon {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 80px;
  width: 60px;
}

.profileicon .profileicon__image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  background: #2457e4;
  -webkit-box-shadow: rgba(126, 126, 126, 0.144) 0px 0px 10px;
          box-shadow: rgba(126, 126, 126, 0.144) 0px 0px 10px;
}

.profileicon .profileicon__name {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  overflow: hidden;
}

.container-card {
  position: relative;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0 20px 0;
}

.container-card .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-card .rectangle {
  width: 100%;
  min-height: 200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 20px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.429);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  padding: 15px;
  text-decoration: none;
}

.container-card .button {
  pointer-events: none;
  opacity: 60%;
  -webkit-transition: opacity linear 0.25s;
  transition: opacity linear 0.25s;
  -webkit-transition-delay: 500ms;
          transition-delay: 500ms;
}

.container-card:hover .button {
  pointer-events: all;
  opacity: 100%;
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.container-card.style1 .rectangle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  overflow: auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 15px;
  -ms-grid-columns: 300px 1fr;
      grid-template-columns: 300px 1fr;
  -ms-grid-rows: fit-content 10px 1fr;
      grid-template-rows: -webkit-fit-content 10px 1fr;
      grid-template-rows: fit-content 10px 1fr;
      grid-template-areas: "a b" "a c" "a d";
}

.container-card.style1 .rectangle :nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: a;
}

.container-card.style1 .rectangle :nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container-card.style1 .rectangle :nth-child(2) > .info-card {
  margin-right: 10px;
}

.container-card.style1 .rectangle :nth-child(4) {
  position: relative;
  position: relative;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: d;
}

.container-card.style1 .rectangle :nth-child(4) .quick-look {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 100%;
  max-height: 400px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.container-card.style1 .rectangle :nth-child(4) .quick-look > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 200px;
  margin: 5px;
}

.container-card.style1-2 .rectangle {
  position: relative;
  display: -ms-grid;
  display: grid;
  grid-gap: 15px;
  -ms-grid-columns: 300px 1fr;
      grid-template-columns: 300px 1fr;
  -ms-grid-rows: fit-content 10px 1fr;
      grid-template-rows: -webkit-fit-content 10px 1fr;
      grid-template-rows: fit-content 10px 1fr;
      grid-template-areas: "a b" "a c" "a d";
}

.container-card.style1-2 .rectangle :nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: a;
}

.container-card.style1-2 .rectangle :nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container-card.style1-2 .rectangle :nth-child(2) > .info-card {
  margin-right: 10px;
}

.container-card.style1-2 .rectangle :nth-child(4) {
  position: relative;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: d;
}

.container-card.style1-2 .rectangle :nth-child(4) .quick-look {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  grid-gap: 15px;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.container-card.style2 .rectangle {
  display: -ms-grid;
  display: grid;
  grid-gap: 15px;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 150px;
}

.container-card.style3 {
  display: -ms-grid;
  display: grid;
  grid-gap: 15px;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 150px;
  padding-top: 50px;
}

.container-card.style4 {
  display: -ms-grid;
  display: grid;
  padding: 0;
  grid-gap: 15px;
  grid-auto-columns: 250px;
  -ms-grid-columns: (200px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 200px);
}

.amenity-card {
  position: relative;
  height: 100%;
  min-height: 150px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0;
  overflow: hidden;
  border-radius: 18px;
  background: -webkit-gradient(linear, left top, right top, from(#36cae6), to(#3545df));
  background: linear-gradient(90deg, #36cae6 0%, #3545df 100%);
  -webkit-transition: -webkit-box-shadow linear 0.1s;
  transition: -webkit-box-shadow linear 0.1s;
  transition: box-shadow linear 0.1s;
  transition: box-shadow linear 0.1s, -webkit-box-shadow linear 0.1s;
  -webkit-transition: -webkit-transform linear 0.05s;
  transition: -webkit-transform linear 0.05s;
  transition: transform linear 0.05s;
  transition: transform linear 0.05s, -webkit-transform linear 0.05s;
}

.amenity-card:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 6px #b0b0b0;
          box-shadow: 0px 0px 6px #b0b0b0;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.amenity-card .info {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 15px 10px 15px;
  border-top-left-radius: 25px;
  background: white;
  text-align: right;
  color: #b0b0b0;
}

.place-card {
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0;
  overflow: hidden;
  outline: solid rgba(255, 255, 255, 0) 6px;
  outline-offset: -6px;
  background-clip: padding-box;
  -webkit-mask-clip: padding-box;
          mask-clip: padding-box;
  border-radius: 18px;
  background: -webkit-gradient(linear, left top, right top, from(#36cae6), to(#3545df));
  background: linear-gradient(90deg, #36cae6 0%, #3545df 100%);
  -webkit-transition: -webkit-box-shadow linear 0.1s;
  transition: -webkit-box-shadow linear 0.1s;
  transition: box-shadow linear 0.1s;
  transition: box-shadow linear 0.1s, -webkit-box-shadow linear 0.1s;
  -webkit-transition: outline linear 0.1s;
  transition: outline linear 0.1s;
  -webkit-transition: -webkit-transform linear 0.05s;
  transition: -webkit-transform linear 0.05s;
  transition: transform linear 0.05s;
  transition: transform linear 0.05s, -webkit-transform linear 0.05s;
}

.place-card:hover {
  cursor: pointer;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.place-card img {
  opacity: 0;
}

.place-card.verified {
  outline: solid #26a420 6px;
}

.place-card.verified .overlay {
  display: none;
}

.place-card.verified img {
  opacity: 100%;
}

.place-card.verified:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 6px #b0b0b0;
          box-shadow: 0px 0px 6px #b0b0b0;
}

.place-card .info {
  position: absolute;
  bottom: 40px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.place-card .info > div {
  text-align: right;
  line-height: normal;
  text-shadow: -3px 2px 4px #004d6ec2;
}

.place-card > img {
  position: absolute;
  height: 25px;
  width: 25px;
  bottom: 20px;
  right: 20px;
}

.place-card .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.622);
  -webkit-transition: opacity ease-out 0.15s;
  transition: opacity ease-out 0.15s;
}

.place-card:hover .overlay {
  opacity: 100%;
}

.info-card {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ffffff;
  border-radius: 10px;
  outline: solid 2px rgba(0, 0, 0, 0);
  margin-bottom: 10px;
}

.info-card > div:nth-child(1) {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.info-card > div:nth-child(2) {
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
  font-size: 13px;
}

.info-card.style2 {
  width: 100%;
  min-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 15px;
  margin-bottom: 10px;
}

.info-card.style2 .info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-card.style2 .info > div:nth-child(2) {
  text-align: right;
  margin-right: 20px;
}

.info-card.style2 .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 50px;
  background-color: green;
}

.availability-card {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  outline: solid 2px rgba(0, 0, 0, 0);
  text-align: center;
  -webkit-transition: -webkit-transform linear 0.1s;
  transition: -webkit-transform linear 0.1s;
  transition: transform linear 0.1s;
  transition: transform linear 0.1s, -webkit-transform linear 0.1s;
}

.availability-card .rectangle {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 20px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.42);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  padding: 15px;
  text-decoration: none;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.timeslot {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 13px 10px;
  margin-bottom: 10px;
  background: #ffffff;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;
}

.timeslot.selected {
  color: #ffffff;
  background: -webkit-gradient(linear, right top, left top, from(#008cff), to(#7ab7f0));
  background: linear-gradient(to left, #008cff 0%, #7ab7f0 100%);
}

.timeslot.reserved {
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(#26a420), to(#43e13b));
  background: linear-gradient(90deg, #26a420 0%, #43e13b 100%);
  color: #ffffff;
  pointer-events: none;
  cursor: default;
}

.timeslot:hover, .timeslot:hover.selected {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.timeslot.unavailable {
  border: none;
  background: #b0b0b0;
  color: #ffffff;
  pointer-events: none;
  cursor: default;
}

.modal {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10%;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(6, 112, 144, 0.407);
}

.modal > div {
  max-width: 100%;
  grid-gap: 15px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

form {
  position: relative;
  width: 350px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(255, 255, 255, 0.42);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 18px;
  padding: 60px 35px 35px 35px;
}

form .header {
  padding-bottom: 30px;
}

form .header .title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  color: #061221;
}

form .header .subtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 0.5px;
  color: #b0b0b0;
}

form .content > div {
  margin-bottom: 15px;
}

form .content p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

form .content label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  padding-bottom: 3px;
  color: #061221;
  text-transform: lowercase;
}

form .content input {
  height: 45px;
  width: 100%;
  padding: 10px 15px;
  border-radius: 10px;
  outline: none;
  border: none;
  background: #ffffff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.5px;
  color: #061221;
}

form .content input::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 1;
  /* Firefox */
  color: #e9e9e9;
  font-weight: 300;
  text-transform: lowercase;
}

form .content input:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 1;
  /* Firefox */
  color: #e9e9e9;
  font-weight: 300;
  text-transform: lowercase;
}

form .content input::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 1;
  /* Firefox */
  color: #e9e9e9;
  font-weight: 300;
  text-transform: lowercase;
}

form .content input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 1;
  /* Firefox */
  color: #e9e9e9;
  font-weight: 300;
  text-transform: lowercase;
}

form .content input:focus {
  color: #061221;
  border: solid 3px #008cff;
}

form .content .button {
  margin-bottom: 10px;
}

form hr {
  border: solid #e0e0e0 1px;
  margin-bottom: 15px;
}

.rowstrip {
  position: relative;
  height: 40px;
  width: 100%;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(10%, #f1f9ff), to(#ffffff));
  background: linear-gradient(to bottom right, #f1f9ff 10%, #ffffff);
  padding: 5px 20px 5px 20px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.rowstrip:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #a1d6ff), to(#ffffff));
  background: linear-gradient(to right, #a1d6ff 10%, #ffffff);
  cursor: pointer;
}

.rowstrip .rowstrip__name {
  color: #a0a0a0;
  font: 600 13px "Open Sans", sans-serif;
}

.rowstrip .rowstrip_actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rowstrip .rowstrip_actions > div {
  margin-left: 8px;
}

.rowstrip .tinybadge {
  padding: 4px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
  background: #e0e0e0;
  color: #a0a0a0;
  font: 700 8px "Open Sans", sans-serif;
}

.searchbar {
  width: 100%;
  height: 60px;
  border-radius: 30px;
  padding: 4px 30px;
  outline: none;
  border: none;
  background: #e9e9e9;
  width: 100%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  color: #b0b0b0;
  /* identical to box height, or 315% */
}

.searchbar:hover {
  cursor: text;
}

.searchbar:focus {
  color: #061221;
}
/*# sourceMappingURL=components.css.map */