* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.platform-base {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.side-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  height: 100vh;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 70px 20px;
}

.side-container > div {
  margin-bottom: 10px;
}

.main-container {
  z-index: 1;
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 200vh;
  padding-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-container__header {
  width: 100%;
  padding: 30px 0 10px 0;
}

.main-container__grid-container {
  height: 100%;
  min-height: 70vh;
  width: 100%;
}

.grid {
  z-index: 1;
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 100%;
}

.grid > div {
  min-height: 200px;
  min-height: 5vh;
  width: 100%;
}

.grid-style1x1 {
  min-height: 300px;
  grid-gap: 10px;
  justify-items: center;
      grid-template-areas: "one";
}

.grid-style1x1 > div:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
}

.grid-style3x1 {
  min-height: 300px;
  grid-gap: 10px;
  -ms-grid-columns: (minmax(200px, 1fr))[3];
      grid-template-columns: repeat(3, minmax(200px, 1fr));
  justify-items: center;
      grid-template-areas: "one two three";
}

.grid-style3x1 > div:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
}

.grid-style3x1 > div:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: two;
}

.grid-style3x1 > div:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: three;
}

.grid-style1x3-Member {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  grid-gap: 10px;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 10px minmax(200px, fit-content) minmax(200px, fit-content);
      grid-template-rows: 10px minmax(200px, -webkit-fit-content) minmax(200px, -webkit-fit-content);
      grid-template-rows: 10px minmax(200px, fit-content) minmax(200px, fit-content);
      grid-template-areas: "one" "two" "three";
}

.grid-style1x3-Member > div:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
}

.grid-style1x3-Member > div:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: two;
}

.grid-style1x3-Member > div:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: three;
}

.grid-style1x2 {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  grid-gap: 10px;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  -ms-grid-rows: minmax(200px, fit-content);
      grid-template-rows: minmax(200px, -webkit-fit-content);
      grid-template-rows: minmax(200px, fit-content);
      grid-template-areas: "one two";
}

.grid-style1x2 > div:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
}

.grid-style1x2 > div:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: two;
}

.grid-style3x2 {
  min-height: 300px;
  grid-gap: 10px;
  -ms-grid-columns: (minmax(200px, 1fr))[3];
      grid-template-columns: repeat(3, minmax(200px, 1fr));
  -ms-grid-rows: fit-content fit-content;
      grid-template-rows: -webkit-fit-content -webkit-fit-content;
      grid-template-rows: fit-content fit-content;
  justify-items: center;
      grid-template-areas: "one one two" "three three two";
}

.grid-style3x2 > div:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
}

.grid-style3x2 > div:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: two;
}

.grid-style3x2 > div:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: three;
}

.grid-style3x3 {
  min-height: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  grid-gap: 10px;
  -ms-grid-columns: (minmax(200px, 1fr))[3];
      grid-template-columns: repeat(3, minmax(200px, 1fr));
  -ms-grid-rows: fit-content fit-content fit-content;
      grid-template-rows: -webkit-fit-content -webkit-fit-content -webkit-fit-content;
      grid-template-rows: fit-content fit-content fit-content;
  justify-items: center;
      grid-template-areas: "one one two" "one one three" "four four four";
}

.grid-style3x3 > div:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
}

.grid-style3x3 > div:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: two;
}

.grid-style3x3 > div:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: three;
}

.grid-style3x3 > div:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: four;
}

.grid-style3x3-Member {
  min-height: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  grid-gap: 10px;
  -ms-grid-columns: (minmax(200px, 1fr))[3];
      grid-template-columns: repeat(3, minmax(200px, 1fr));
  -ms-grid-rows: 200px fit-content fit-content;
      grid-template-rows: 200px -webkit-fit-content -webkit-fit-content;
      grid-template-rows: 200px fit-content fit-content;
  justify-items: center;
      grid-template-areas: "one two three" "four four six" "five five six";
}

.grid-style3x3-Member > div:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
}

.grid-style3x3-Member > div:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: two;
}

.grid-style3x3-Member > div:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: three;
}

.grid-style3x3-Member > div:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: four;
}

.grid-style3x3-Member > div:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: five;
}

.grid-style3x3-Member > div:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: six;
}

.grid-style2x1-1 {
  min-height: 300px;
  grid-gap: 10px;
  -ms-grid-columns: (minmax(200px, 1fr))[2];
      grid-template-columns: repeat(2, minmax(200px, 1fr));
  -ms-grid-rows: fit-content fit-content;
      grid-template-rows: -webkit-fit-content -webkit-fit-content;
      grid-template-rows: fit-content fit-content;
  justify-items: center;
      grid-template-areas: "one two" "three three";
}

.grid-style2x1-1 > div:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: one;
}

.grid-style2x1-1 > div:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: two;
}

.grid-style2x1-1 > div:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: three;
}

.grid-style-squaregrid {
  grid-gap: 10px;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  -ms-grid-rows: (minmax(150px, 1fr))[auto-fill];
      grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
  justify-items: center;
}

.grid-style-squaregrid > div {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  width: 100%;
}

.grid-simple-grid {
  grid-gap: 10px;
  -ms-grid-columns: (280px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 280px);
  -ms-grid-rows: (minmax(200px, 1fr))[auto-fill];
      grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: scroll;
  width: 100%;
  padding: 0;
}

.grid-simple-grid > div {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  width: 100%;
}

.grid-badge-grid {
  grid-gap: 10px;
  -ms-grid-columns: (110px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 110px);
  grid-auto-rows: 110px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding: 0;
}

.grid-badge-grid > div {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  width: 100%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: red;
}

.flex .simple-grouping {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: scroll;
}
/*# sourceMappingURL=main.css.map */