// Variables
$blue: #2457e4;
$green: #0dce83;
$turquoise: #10e5d9;
$brightred: #f03d10;
$grey: #787878;
$softgrey: #f2f2f2;

$poppins: "Poppins", sans-serif;
$montserrat: "Montserrat", sans-serif;
$nunito: "Nunito", sans-serif;

$box-shadow--light: rgba(0, 0, 0, 0.288) 0px 0px 4px;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("/static/images/backgrounds/whitewallpaper.png");

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}



.platform-base {
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    // background: pink;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.side-container {
    // position: sticky;
    box-sizing: border-box;
    flex: 1;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 70px 20px;
    // background: green;

    > div {
        margin-bottom: 10px;
    }
}

.main-container {
    z-index: 1;
    flex: 7;
    height: fit-content;
    min-height: 200vh;
    // background: rgb(59, 59, 59);
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-container__header {
    width: 100%;
    padding: 30px 0 10px 0;
    // background: rgb(116, 40, 40);
}

.main-container__grid-container {
    position: relative;
    height: 100%;
    min-height: 70vh;
    width: 100%;
}

.tabs {
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 13px;
    // border-bottom: solid rgb(0, 0, 0);
}
.tabcontent {
    display: none;
    flex-wrap: wrap;
    padding: 6px;

    &.active{
        display: flex;
    }
}

.grid {
    z-index: 1;
    display: grid;
    width: 100%;
    height: 100%;
    // background: green;

    > div {
        min-height: 200px;
        min-height: 5vh;
        width: 100%;
        // background: chocolate;
    }
}

.grid-style1x1 {
    min-height: 300px;
    grid-gap: 10px;
    justify-items: center;
    grid-template-areas: "one";

    > div:nth-child(1) {
        grid-area: one;
    }
}

.grid-style3x1 {
    min-height: 300px;
    grid-gap: 10px;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    justify-items: center;
    grid-template-areas:
        "one two three"
        // "one two three"
;

    > div:nth-child(1) {
        grid-area: one;
    }

    > div:nth-child(2) {
        grid-area: two;
    }

    > div:nth-child(3) {
        grid-area: three;
    }
}

.grid-style1x3-Member {
    height: fit-content;
    // min-height: 70vh;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 10px minmax(200px, fit-content) minmax(
            200px,
            fit-content
        );
    // justify-items: center;
    grid-template-areas:
        "one"
        "two"
        "three";

    > div:nth-child(1) {
        grid-area: one;
    }

    > div:nth-child(2) {
        grid-area: two;
    }

    > div:nth-child(3) {
        grid-area: three;
    }
}

.grid-style1x2 {
    height: fit-content;
    // min-height: 70vh;
    grid-gap: 10px;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: minmax(200px, fit-content);
    // justify-items: center;
    grid-template-areas: "one two";

    > div:nth-child(1) {
        grid-area: one;
    }

    > div:nth-child(2) {
        grid-area: two;
    }
}

.grid-style3x2 {
    min-height: 300px;
    grid-gap: 10px;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-template-rows: fit-content fit-content;
    justify-items: center;
    grid-template-areas:
        "one one two"
        "three three two";

    > div:nth-child(1) {
        grid-area: one;
    }

    > div:nth-child(2) {
        grid-area: two;
    }

    > div:nth-child(3) {
        grid-area: three;
    }
}

.grid-style3x3 {
    min-height: 300px;
    height: fit-content;
    grid-gap: 10px;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-template-rows: fit-content fit-content fit-content;
    justify-items: center;
    grid-template-areas:
        "one one two"
        "one one three"
        "four four four";

    > div:nth-child(1) {
        grid-area: one;
    }

    > div:nth-child(2) {
        grid-area: two;
    }

    > div:nth-child(3) {
        grid-area: three;
    }

    > div:nth-child(4) {
        grid-area: four;
    }
}

.grid-style3x3-Member {
    min-height: 300px;
    height: fit-content;
    // min-height: 70vh;
    grid-gap: 10px;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-template-rows: 200px fit-content fit-content;
    justify-items: center;
    grid-template-areas:
        "one two three"
        "four four six"
        "five five six";

    > div:nth-child(1) {
        grid-area: one;
    }

    > div:nth-child(2) {
        grid-area: two;
    }

    > div:nth-child(3) {
        grid-area: three;
    }

    > div:nth-child(4) {
        grid-area: four;
    }

    > div:nth-child(5) {
        grid-area: five;
    }

    > div:nth-child(6) {
        grid-area: six;
    }
}

.grid-style2x1-1 {
    min-height: 300px;
    grid-gap: 10px;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-template-rows: fit-content fit-content;
    justify-items: center;
    grid-template-areas:
        "one two"
        "three three";

    > div:nth-child(1) {
        grid-area: one;
    }

    > div:nth-child(2) {
        grid-area: two;
    }

    > div:nth-child(3) {
        grid-area: three;
    }
}

.grid-style-squaregrid {
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
    justify-items: center;
    // background-color: red;

    > div {
        min-height: fit-content;
        width: 100%;
    }
}

.grid-simple-grid {
    // background: royalblue;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, 280px);
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    justify-items: center;
    // justify-content: center;
    align-content: center;
    align-items: center;
    overflow: scroll;
    // justify-content: center;
    width: 100%;
    padding: 0;
    // background-color: red;

    > div {
        min-height: fit-content;
        width: 100%;
    }
}

.grid-badge-grid {
    // background: rgb(61, 202, 48);
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, 110px);
    // grid-template-rows: repeat(auto-fit, 120px);
    grid-auto-rows: 110px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 100%;
    padding: 0;
    // background-color: red;

    > div {
        min-height: fit-content;
        width: 100%;
    }
}

.flex {
    display: flex;
    width: 100%;
    background-color: red;

    .simple-grouping {
        // justify-content: center;
        // align-items: flex-start;
        flex-wrap: wrap;
        overflow: scroll;

        // > {
        //     margin: 5px;
        // }
    }
}

.card {
}

.card--dark {
}

.card__title {
}

.card__paragraph {
}

