{% load static %}

<div class="card">
    <div class="header2 color-shade-grey">Place Name</div>
    <div class="rectangle body1">{{sdfs}}sdfsfaf</div>
</div>

<div class="amenity-card">
    {% comment %} Card {% endcomment %}
    <div class="info">
        <div class="header3">Amenity Name{{amenity.name}}</div>
    </div>
</div>

<div class="container-card style1">
    <div class="header2 color-shade-grey">Place Name</div>
    <div class="rectangle body1">
        <div></div>
        <div></div>
        <div></div>
        {% comment %}
        <div></div>
        <div></div>
        <div></div>
        {% endcomment %}
    </div>
</div>

<div class="container-card style2">
    <div class="header2 color-shade-grey">Place Name</div>
    <div class="rectangle body1">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
