{% load static %} 
{% if name == 'container-card style1' %}
<div class="container-card style1">
    <div class="header2 color-shade-grey">Place Name</div>
    <div class="rectangle">
        <div>{% include 'components/card.html' with name="place-card" %}</div>
        
        <div>
            {% include 'components/card.html' with name="info-card" %}
            {% include 'components/card.html' with name="info-card" %}
            {% include 'components/card.html' with name="info-card" %}
            {% include 'components/card.html' with name="info-card" %}
        </div>

        <div class="header2">Quick Access</div>
        <div>
            <div class="quick-look">
                {% include 'components/card.html' with name="amenity-card" %} 
                {% include 'components/card.html' with name="amenity-card" %}
            </div>
        </div>
    </div>
</div>

{% elif name == 'container-card style2' %}
<div class="container-card style2">
    <div class="header2 color-shade-grey">Place Name</div>
    <div class="rectangle body1">
        {% include 'components/card.html' with name="amenity-card" %} {% include
        'components/card.html' with name="amenity-card" %}
    </div>
</div>
{% elif name == 'info-card' %}
<div class="info-card">
    <div class="header3">Title</div>
    <div class="header3 color-shade-grey">Content</div>
</div>

{% elif name == 'place-card' %}
{% comment %} <div class="place-card">
    <div class="info">
        <div class="header2 color-shade-white">Place Name{{amenity.name}}</div>
    </div>
    <img src="{% static "images/Verified Checkmark.svg" %}" alt="">

    <div class="overlay">
        <div class="header2 color-shade-white">Send a Join Request</div>
    </div>
</div> {% endcomment %}
<div class="place-card verified">
    <div class="info">
        <div class="header2 color-shade-white">Place Name{{amenity.name}}</div>
    </div>
    <img src="{% static "images/Verified Checkmark.svg" %}" alt="">

    <div class="overlay">
        <div class="header2 color-shade-white">Send a Join Request</div>
    </div>
</div>

{% elif name == 'availability-card' %}
<div class="availability-card">
    <div class="header2 color-shade-grey">Day Name</div>
    <div class="header3 color-shade-grey">MM/DD/YYYY</div>
    <div class="rectangle">
        <div class="timeslot selectable">
            <div class="body2">00:00-03:00</div>
        </div>
        <div class="timeslot selected selectable">
            <div class="body2">00:00-03:00</div>
        </div>
        <div class="timeslot reserved">
            <div class="body2">00:00-03:00</div>
        </div>
        <div class="timeslot unavailable">
            <div class="body2">00:00-03:00</div>
        </div>
    </div>
</div>

{% elif name == 'amenity-card' %}
<div class="amenity-card">
    <div class="info">
        <div class="header3">Amenity Name{{amenity.name}}</div>
    </div>
</div>
{% else %}
<div class="card">
    <div class="header2 color-shade-grey">Place Name</div>
    <div class="rectangle body1">{{sdfs}}sdfsfaf</div>
</div>

{% endif %} 