{% load static %} 
{% if name == 'container-card style1' %}
<div class="container-card style1" id="place-{{place.id}}">
    <div class="header2 color-shade-grey">{{place.name}}</div>
    <div class="rectangle">
        <div>
            {% include 'components/card.html' with name="place-card" place=place %}
        </div>
        
        <div>
            {% include 'components/card.html' with name="info-card" %}
            {% include 'components/card.html' with name="info-card" %}
            {% include 'components/card.html' with name="info-card" %}
            {% include 'components/card.html' with name="info-card" %}
        </div>

        <div class="header2">Quick Access</div>
        <div>
            <div class="quick-look">
                {% for amenity in amenities %}
                    {% include 'components/card.html' with name="amenity-card" %} 
                {% endfor %}
                {% comment %} {% include 'components/card.html' with name="amenity-card" %} {% endcomment %}
            </div>
        </div>
    </div>
</div>

{% elif name == 'container-card style2' %}
<div class="container-card style2" id="place-{{place.id}}">
    <div class="header2 color-shade-grey">{{place.name}}</div>
    <div class="rectangle body1">
        {% for amenity in amenities %}
            {% include 'components/card.html' with name="amenity-card" amenity=amenity %} 
        {% endfor %}
        {% include 'components/button.html' with name="button style3" text="+ Create an Amenity"%}
    </div>
</div>
{% elif name == 'info-card' %}
<div class="info-card">
    <div class="header3">Title</div>
    <div class="header3 color-shade-grey">Content</div>
</div>

{% elif name == 'place-card' %}

<div class="place-card {{verified}}" onclick="window.location='{% url "manage-places"%}#place-{{place.id}}';">
    <div class="info">
        <div class="header2 color-shade-white">{{place.name}}</div>
    </div>
    <img src="{% static "images/Verified Checkmark.svg" %}" alt="">

    <div class="overlay">
        <div class="header2 color-shade-white">Send a Join Request</div>
    </div>
</div>

{% elif name == 'availability-card' %}
<div class="availability-card">
    <div class="header2 color-shade-grey">Day Name</div>
    <div class="header3 color-shade-grey">MM/DD/YYYY</div>
    <div class="rectangle">
        <div class="timeslot selectable">
            <div class="body2">00:00-03:00</div>
        </div>
        <div class="timeslot selected selectable">
            <div class="body2">00:00-03:00</div>
        </div>
        <div class="timeslot reserved">
            <div class="body2">00:00-03:00</div>
        </div>
        <div class="timeslot unavailable">
            <div class="body2">00:00-03:00</div>
        </div>
    </div>
</div>

{% elif name == 'amenity-card' %}
<div class="amenity-card" id="amenity-{{amenity.id}}" onclick="window.location='{% url "manage-amenity" amenity.id %}';">
    <div class="info">
        <div class="header3">{{amenity.name}}</div>
    </div>
</div>
{% else %}
<div class="card">
    <div class="header2 color-shade-grey">Place Name</div>
    <div class="rectangle body1">sdfsfaf</div>
</div>

{% endif %} 