{% load static %}

{% comment %} <div class="item" onclick="window.location='{% url "landingpage" %}';">
    <img src="{% static 'images/Bloom Logo-Transparent-Darker-Blue.png' %}" alt="" class="navbar__logo">
</div> {% endcomment %}

<div class="navbar">
    <div class="link_text" onclick="window.location='{% url "manage-dashboard" %}';">Dashboard</div>
    <div class="link_text"  onclick="window.location='{% url "manage-places" %}';">Places & Amenities</div>
    <div class="link_text"  onclick="window.location='{% url "profilepage" %}';">Your Profile</div>
</div>
