{% load static %}
<table class="table">
    {% for key, values in dictionary.items %}
    {% if values %}
        <tr class="table__tr table__tr--header">
            <td>
                <div class="header3">{{key}}</div>
            </td>
        </tr>
        {% comment %} 
        // Tables are implemented this way because its easier to list the items
        // just as a list instead of as table items. Styling difficulties means
        // This is the best solution 
        {% endcomment %}

        {% for item in values %}
        <tr class="table__tr">
            <td class="table__td">
                {% include 'components/rowstrip.html' with name=item %}
            </td>
        </tr>
        {% endfor %}
    {% endif %}
    {% endfor %}
</table>