{% extends 'externalApp/index.html' %}
{% load static %}

{% block content %}
<div class="section" id="hero-section">
    <h3>Book on Bloom.</h3>
    <h1>Bookings made Easy.</h1>
    <p>
        <b>Booking out your community can be frustrating and expensive - it doesnt need to be.</b>  
        Schedule and manage community reservations with ease with Bloom. Its as easy as a click and drag.
    </p>
    <a href="{% url 'auth:auth' %}"><button class="style1">Get Started</button></a>
    <div class="vessel">
        <img src="{% static 'images/mockups/MacbookMockup-PlaceDetails.png' %}" alt="" class="small-img--left">
        <img src="{% static 'images/mockups/MacbookMockup-AmenityDetails.png' %}" alt="" class="small-img--right">
        <img src="{% static 'images/mockups/MacbookMockup.png' %}" alt="" class="large-img">
    </div>
</div>
<div class="section">
    <h2 id="features">Features</h2>
    <div class="banner">
        <div class="illustration">
            <img src="" alt="">
        </div>
        <div class="description">
            <h3>Schedule Anything with a Drag and Click</h3>
            <p>Its seriously easy to choose when you want people to book. Just drag and click on a schedule for an amenity to select when want it available and hit save.</p>
        </div>
    </div>
    <div class="banner">
        <div class="description">
            <h3>Make and Manage Places</h3>
            <p>Manage multiple communities with total control. Add staff, create new amenities with reservation rules, and see metrics on community activity</p>
        </div>
        <div class="illustration">
            <img src="" alt="">
        </div>
    </div>
    <div class="banner">
        <div class="description">
            <h3>Build out your Communities</h3>
            <p>Let members join your places to gain exclusive booking access and give you birds eye view control. Have them join by just send the place's custom link or let them search for you on the member-side communities search page</p>
        </div>
        <div class="illustration">
            <img src="" alt="">
        </div>
    </div>
    <div class="banner">
        <div class="illustration">
            <img src="" alt="">
        </div>
        <div class="description">
            <h3>Booking Designed for Users</h3>
            <p>Members enjoy an extremely simple booking and UI experience. As a member you can search for communities on Bloom and see your own reservation history</p>
        </div>
    </div>
</div>

{% endblock content %}