* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header1 {
  font: 500 36px "Poppins", sans-serif;
  color: black;
}

.header2 {
  font: 500 25px "Poppins", sans-serif;
  padding: 0 0 10px 0;
  color: #A0A0A0;
}

.header3 {
  font: 500 18px "Poppins", sans-serif;
  color: #E0E0E0;
}

.body {
  font: 300 18px "Open Sans", sans-serif;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 7rem;
  left: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar__logo {
  width: 50px;
  height: auto;
  margin-bottom: 50px;
}

.navbar .navbar__icon {
  width: 40px;
  height: auto;
  margin-bottom: 30px;
  -webkit-filter: brightness(30%);
  opacity: 10%;
  -webkit-transition: all 0.05s ease-in;
  transition: all 0.05s ease-in;
}

.navbar .navbar__icon:hover {
  -webkit-filter: brightness(100%);
  opacity: 100%;
}

.button {
  text-decoration: none !important;
}

.button:hover {
  cursor: pointer;
}

.button .button__text {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 10px;
  font: 500 10px "Open Sans", sans-serif;
  background: #2457E4;
  color: white;
  border-radius: 7px;
}

.button .button__text.button__text--white {
  -webkit-box-shadow: rgba(126, 126, 126, 0.144) 0px 0px 10px;
          box-shadow: rgba(126, 126, 126, 0.144) 0px 0px 10px;
  background: white;
  color: #2457E4;
}

.button .button__text.button__text--grey {
  -webkit-box-shadow: rgba(126, 126, 126, 0.144) 0px 0px 10px;
          box-shadow: rgba(126, 126, 126, 0.144) 0px 0px 10px;
  background: #E0E0E0;
  color: #A0A0A0;
  text-transform: lowercase;
}

.button .button__text.button__text--small {
  -webkit-box-shadow: rgba(126, 126, 126, 0.144) 0px 0px 10px;
          box-shadow: rgba(126, 126, 126, 0.144) 0px 0px 10px;
  background: white;
  color: #2457E4;
}

.button .button__text.button__text--logout {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 15px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: none;
  font-family: "Poppins", sans-serif;
  color: #039797;
}

.button.button--cardsize {
  position: relative;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  height: 200px;
  border-radius: 20px;
  overflow: hidden;
  background: red;
  padding: 20px;
  text-decoration: none;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F2F2F2;
}

.badge {
  position: relative;
  height: 100%;
  width: 100%;
  background: #FCFCFC;
  -webkit-box-shadow: rgba(126, 126, 126, 0.144) 0px 0px 10px;
          box-shadow: rgba(126, 126, 126, 0.144) 0px 0px 10px;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
  color: #2457E4;
}

.badge .badge__value {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font: 600 25px "Poppins", sans-serif;
  color: #A0A0A0;
}

.badge .badge__title {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font: 700 12px "Poppins", sans-serif;
  text-align: center;
  color: #A0A0A0;
}

.strip {
  position: relative;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 0 0 30px;
  background-color: #ffffff;
  -webkit-box-shadow: rgba(126, 126, 126, 0.144) 0px 0px 10px;
          box-shadow: rgba(126, 126, 126, 0.144) 0px 0px 10px;
  border-radius: 8px;
  overflow: hidden;
}

.strip .strip__title {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  color: #2457E4;
}

.strip .strip__value {
  font-family: "Nunito", sans-serif;
  font-size: 17px;
  color: black;
}

.strip .strip__accent {
  height: 100%;
  width: 10px;
  position: absolute;
  top: 0;
  left: 0;
  background: #2457E4;
}

.table-banner {
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.table-banner > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table-banner .table-banner__title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #797979;
}

.table-banner .table-banner__amount {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #797979;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.table-banner .table-banner__button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.table {
  position: relative;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-spacing: 0;
}

.table .table__tr {
  position: relative;
  -webkit-transform: scale(1);
          transform: scale(1);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.table .table__th {
  color: #A0A0A0;
  border: solid #F2F2F2 1px;
}

.table .table__td {
  padding-bottom: 3px;
}

.profileicon {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 80px;
  width: 60px;
}

.profileicon .profileicon__image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  background: #2457E4;
  -webkit-box-shadow: rgba(126, 126, 126, 0.144) 0px 0px 10px;
          box-shadow: rgba(126, 126, 126, 0.144) 0px 0px 10px;
}

.profileicon .profileicon__name {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  overflow: hidden;
}

.card {
  position: relative;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 20px;
  overflow: hidden;
  background: white;
  padding: 20px;
  text-decoration: none;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

.card.card--grey {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #F2F2F2;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  height: 100%;
}

.card.card--outline {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: none;
  border: solid #E0E0E0 4px;
  border-radius: 10px;
}

.card.card--amenity {
  position: relative;
  height: 200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0;
  background: red;
  background: -webkit-gradient(linear, left top, right top, from(#36CAE6), to(#3545DF));
  background: linear-gradient(90deg, #36CAE6 0%, #3545DF 100%);
}

.card.card--amenity:hover {
  cursor: pointer;
}

.card.card--amenity .card--amenity__info {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 150px;
  padding: 10px 20px 10px 10px;
  border-top-left-radius: 40px;
  background: white;
}

.card.card--amenity .card--amenity__info > div {
  color: #A0A0A0;
  text-align: right;
}

.rowstrip {
  position: relative;
  height: 40px;
  width: 100%;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(10%, #F1F9FF), to(#ffffff));
  background: linear-gradient(to bottom right, #F1F9FF 10%, #ffffff);
  padding: 5px 20px 5px 20px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.rowstrip:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #a1d6ff), to(#ffffff));
  background: linear-gradient(to right, #a1d6ff 10%, #ffffff);
  cursor: pointer;
}

.rowstrip .rowstrip__name {
  color: #A0A0A0;
  font: 600 13px "Open Sans", sans-serif;
}

.rowstrip .rowstrip_actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rowstrip .rowstrip_actions > div {
  margin-left: 8px;
}

.rowstrip .tinybadge {
  padding: 4px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
  background: #E0E0E0;
  color: #A0A0A0;
  font: 700 8px "Open Sans", sans-serif;
}

.searchbar {
  width: 100%;
  height: 60px;
  background: #F2F2F2;
  border-radius: 30px;
  padding: 4px 15px;
  border: none;
  outline: none;
  text-decoration: underline;
  margin: 0;
}

.searchbar:hover {
  border: solid #E0E0E0 8px;
}

.searchbar:focus {
  border: solid #E0E0E0 2px;
  background: white;
}
/*# sourceMappingURL=components.css.map */