// Variables 
$blue: #2457E4;
$green: #0DCE83;
$turquoise: #10E5D9;
$brightred: #F03D10;
$darkgrey: #A0A0A0;
$grey: #E0E0E0;
$lightgrey: #F2F2F2;

$poppins: 'Poppins',
sans-serif;
$open-sans: 'Open Sans',
sans-serif;
$montserrat: 'Montserrat',
sans-serif;
$nunito: 'Nunito',
sans-serif;

$box-shadow--light: rgba(126, 126, 126, 0.144) 0px 0px 10px;

// Components
* {
    box-sizing: border-box;
}

.header1 {
    font: 500 36px $poppins;
    color: black;
}

.header2 {
    font: 500 25px $poppins;
    padding: 0 0 10px 0;
    color: $darkgrey;
}

.header3 {
    font: 500 18px $poppins;

    color: $grey;
}

.body {
    font: 300 18px $open-sans;
}

.navbar {
    position: sticky;
    top: 7rem;
    left: 0;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-color: red;
    // height: 100vh;
    // background: maroon;

    .navbar__logo {
        width: 50px;
        height: auto;
        margin-bottom: 50px;
    }

    .navbar__icon {
        width: 40px;
        height: auto;
        margin-bottom: 30px;

        -webkit-filter: brightness(30%);
        opacity: 10%;
        transition: all 0.05s ease-in;

        &:hover {
            -webkit-filter: brightness(100%);
            opacity: 100%;
        }
    }
}

.button {
    text-decoration: none !important;

    &:hover {
        cursor: pointer;
    }

    .button__text {
        height: fit-content;
        width: fit-content;
        padding: 5px 10px;
        font: 500 10px $open-sans;
        background: $blue;
        color: white;
        border-radius: 7px;

        &.button__text--white {
            box-shadow: $box-shadow--light;
            background: white;
            color: $blue;
        }

        &.button__text--grey {
            box-shadow: $box-shadow--light;
            background: $grey;
            color: $darkgrey;
            text-transform: lowercase;
        }

        &.button__text--small {
            box-shadow: $box-shadow--light;
            background: white;
            color: $blue;
        }

        &.button__text--logout {
            position: absolute;
            top: 20px;
            right: 30px;
            font-size: 15px;
            box-shadow: none;
            background: none;
            font-family: $poppins;
            color: rgb(3, 151, 151);
        }
    }




}

.badge {
    position: relative;
    width: 120px;
    min-height: 120px;
    height: fit-content;
    background: #FCFCFC;
    box-shadow: $box-shadow--light;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    color: $blue;

    .badge__value {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font: 600 25px $poppins;
        color: $darkgrey;
    }

    .badge__title {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        font: 700 12px $poppins;
        text-align: center;
        color: $darkgrey;
    }
}

.strip {
    position: relative;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 0 0 30px;
    background-color: #ffffff;
    box-shadow: $box-shadow--light;
    border-radius: 8px;
    overflow: hidden;

    .strip__title {
        font-family: $nunito;
        font-size: 20px;
        color: $blue;
    }

    .strip__value {
        font-family: $nunito;
        font-size: 17px;
        color: black;
    }


    .strip__accent {
        height: 100%;
        width: 10px;
        position: absolute;
        top: 0;
        left: 0;
        background: $blue;
    }
}

.table-banner {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    flex-basis: 0;
    // background: green;

    >div {
        display: flex;
        align-items: center;
    }

    .table-banner__title {
        flex: 1;
        font-family: $montserrat;
        font-size: 15px;
        font-weight: 600;
        color: rgb(121, 121, 121);
    }

    .table-banner__amount {
        flex: 1;
        font-family: $montserrat;
        font-size: 15px;
        font-weight: 600;
        color: rgb(121, 121, 121);
        justify-content: center;
    }

    .table-banner__button {
        flex: 1;
        justify-content: flex-end;
    }
}

.table {
    position: relative;
    width: 100%;
    height: fit-content;
    border-spacing: 0;


    .table__tr {
        position: relative;
        transform: scale(1); //allows position relative to work
        height: fit-content;
    }

    .table__th {
        color: $darkgrey;
        border: solid $lightgrey 1px;
    }

    .table__td {
        // height: fit-content;
        // padding: 0 10px;
        // color: $darkgrey;
        // border: solid $lightgrey 1px;
        padding-bottom: 3px;
    }
}

.profileicon {
    position: relative;
    height: fit-content;
    min-height: 80px;
    width: 60px;

    .profileicon__image {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;
        background: $blue;
        box-shadow: $box-shadow--light;
    }

    .profileicon__name {
        width: 100%;
        font-family: $montserrat;
        font-size: 12px;
        font-weight: 400;
        text-align: center;
        overflow: hidden;
    }
}


.card {
    position: relative;
    width: 100%;
    height: fit-content;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: $box-shadow--light;
    background: white;
    padding: 20px;

    &.card--grey {
        box-shadow: none;
        background: $lightgrey;
        min-height: fit-content;
        height: 100%;
    }

    &.card--outline {
        box-shadow: none;
        background: none;
        border: solid $grey 4px;
        border-radius: 10px;

    }
}


.progressbar {
    .progressbar__title {}

    .progressbar__capacity {}
}

.progressbar__bar {
    .progressbar__bar__slider {}
}

.rowstrip {
    position: relative;
    height: 40px;
    width: 100%;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background: linear-gradient(to bottom right, #F1F9FF 10%, #ffffff);
    padding: 5px 20px 5px 20px;
    // margin-bottom: 4px;
    transition: all 0.1s;

    &:hover {
        background: linear-gradient(to right, #a1d6ff 10%, #ffffff);
        cursor: pointer;
    }

    .rowstrip__name {
        color: $darkgrey;
        font: 600 13px $open-sans;
    }

    .rowstrip_actions {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        >div {
            margin-left: 8px;
        }
    }

    .tinybadge {
        padding: 4px;
        height: fit-content;
        width: fit-content;
        border-radius: 5px;
        background: $grey;
        color: $darkgrey;
        font: 700 8px $open-sans;
    }
}