@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

// Variables
$dominant: #ffffff;
$secondary: #f2f2f2;
$accent: #0487ff;

$white-shade: #ffffff;
$dark-shade: #061221;
$grey-shade: #e9e9e9;

$dominant-gradient: linear-gradient(90deg, #f4f4f4 0%, #fcfcfc 100%);
$secondary-gradient: linear-gradient(90deg, $accent 0%, #ffffff 100%);
$accent-gradient: linear-gradient(to right);

$feedback-active: #008cff;
$feedback-success: #26a420;
$feedback-error: #e20c0c;

$blue: #2457e4;
$green: #0dce83;
$turquoise: #10e5d9;
$brightred: #f03d10;
$darkgrey: #a0a0a0;
$grey: #e0e0e0;
$lightgrey: #f2f2f2;

$poppins: "Poppins", sans-serif;
$open-sans: "Open Sans", sans-serif;
$montserrat: "Montserrat", sans-serif;
$nunito: "Nunito", sans-serif;

$box-shadow--light: rgba(126, 126, 126, 0.144) 0px 0px 10px;
$tealgradient: linear-gradient(90deg, #36cae6 0%, #3545df 100%);
// Style classes

.color {
    &-dominant {
        color: $dominant;
    }
    &-secondary {
        color: $secondary;
    }
    &-accent {
        color: $accent;
    }

    &-active {
        color: $feedback-active;
    }
    &-success {
        color: $feedback-success;
    }
    &-error {
        color: $feedback-error;
    }

    &-gradient {
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &-active {
            background: linear-gradient(to right, $feedback-active, white);
        }
        &-success {
            background: linear-gradient(to right, $feedback-success, white);
        }
        &-error {
            background: linear-gradient(to right, $feedback-error, white);
        }
    }

    &-shade-white {
        color: $white-shade;
    }
    &-shade-dark {
        color: $dark-shade;
    }
    &-shade-grey {
        color: $grey;
    }
}

.background {
    &-dominant {
        background: $dominant;
    }
    &-secondary {
        background: $secondary;
    }
    &-accent {
        background: $accent;
    }

    &-active {
        background: $feedback-active;
    }
    &-success {
        background: $feedback-success;
    }
    &-error {
        background: $feedback-error;
    }

    &-gradient-active {
        background: linear-gradient(to right, $feedback-active, white);
    }
    &-gradient-success {
        background: linear-gradient(to right, $feedback-success, white);
    }
    &-gradient-error {
        background: linear-gradient(to right, $feedback-error, white);
    }

    &-shade-white {
        background: $white-shade;
    }
    &-shade-dark {
        background: $dark-shade;
    }
    &-shade-grey {
        background: $grey;
    }
}

// Components
* {
    box-sizing: border-box;
}

.header1 {
    /* Heading 1 */

    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 76px;
    /* identical to box height, or 210% */

    color: #000000;
}

.header2 {
    /* Heading 2 */

    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 119% */

    color: #000000;
}

.header3 {
    /* Heading 3 */

    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 41px;
    /* identical to box height, or 315% */

    color: #000000;
}

.body1 {
    /* Body 1 */

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 40px;
    /* identical to box height, or 190% */

    letter-spacing: 0.5px;

    color: #000000;
}

.body2 {
    /* Body 2 */

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    /* identical to box height, or 160% */

    letter-spacing: 0.5px;

    color: #000000;
}
.body {
    font: 300 18px $open-sans;
}

.button_text {
    /* Button Text */

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    /* identical to box height, or 100% */

    letter-spacing: 0.5px;

    color: #000000;
}

.link_text {
    /* Link Text */
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    /* identical to box height, or 115% */

    color: #000000;

    &:hover {
        color: #0bc7d8;
        cursor: pointer;
    }
}

.navbar {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    > div {
        width: fit-content;
        margin: 0 20px 0 0;
    }
}

.button {
    text-decoration: none !important;

    &:hover {
        cursor: pointer;
    }

    .button__text {
        height: fit-content;
        width: fit-content;
        padding: 5px 10px;
        font: 500 10px $open-sans;
        background: $blue;
        color: white;
        border-radius: 7px;

        &.button__text--white {
            box-shadow: $box-shadow--light;
            background: white;
            color: $blue;
        }

        &.button__text--grey {
            box-shadow: $box-shadow--light;
            background: $grey;
            color: $darkgrey;
            text-transform: lowercase;
        }

        &.button__text--small {
            box-shadow: $box-shadow--light;
            background: white;
            color: $blue;
        }

        &.button__text--logout {
            position: absolute;
            top: 20px;
            right: 30px;
            font-size: 15px;
            box-shadow: none;
            background: none;
            font-family: $poppins;
            color: rgb(3, 151, 151);
        }
    }

    &.button--cardsize {
        position: relative;
        width: 100%;
        height: fit-content;
        height: 200px;
        border-radius: 20px;
        overflow: hidden;
        background: red;
        padding: 20px;
        text-decoration: none;
        transition: all ease-in-out 0.2s;

        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $lightgrey;
        // background: linear-gradient(180deg, #36CAE6 0%, #3545DF 100%);
    }
}

.badge {
    position: relative;
    // width: 100px;
    // min-height: 100px;
    // height: 100px;
    height: 100%;
    width: 100%;
    background: #fcfcfc;
    box-shadow: $box-shadow--light;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    color: $blue;

    .badge__value {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font: 600 25px $poppins;
        color: $darkgrey;
    }

    .badge__title {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        font: 700 12px $poppins;
        text-align: center;
        color: $darkgrey;
    }
}

.strip {
    position: relative;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 0 0 30px;
    background-color: #ffffff;
    box-shadow: $box-shadow--light;
    border-radius: 8px;
    overflow: hidden;

    .strip__title {
        font-family: $nunito;
        font-size: 20px;
        color: $blue;
    }

    .strip__value {
        font-family: $nunito;
        font-size: 17px;
        color: black;
    }

    .strip__accent {
        height: 100%;
        width: 10px;
        position: absolute;
        top: 0;
        left: 0;
        background: $blue;
    }
}

.table-banner {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    flex-basis: 0;
    // background: green;

    > div {
        display: flex;
        align-items: center;
    }

    .table-banner__title {
        flex: 1;
        font-family: $montserrat;
        font-size: 15px;
        font-weight: 600;
        color: rgb(121, 121, 121);
    }

    .table-banner__amount {
        flex: 1;
        font-family: $montserrat;
        font-size: 15px;
        font-weight: 600;
        color: rgb(121, 121, 121);
        justify-content: center;
    }

    .table-banner__button {
        flex: 1;
        justify-content: flex-end;
    }
}

.table {
    position: relative;
    width: 100%;
    height: fit-content;
    border-spacing: 0;

    .table__tr {
        position: relative;
        transform: scale(1); //allows position relative to work
        height: fit-content;
    }

    .table__th {
        color: $darkgrey;
        border: solid $lightgrey 1px;
    }

    .table__td {
        // height: fit-content;
        // padding: 0 10px;
        // color: $darkgrey;
        // border: solid $lightgrey 1px;
        padding-bottom: 3px;
    }
}

.profileicon {
    position: relative;
    height: fit-content;
    min-height: 80px;
    width: 60px;

    .profileicon__image {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;
        background: $blue;
        box-shadow: $box-shadow--light;
    }

    .profileicon__name {
        width: 100%;
        font-family: $montserrat;
        font-size: 12px;
        font-weight: 400;
        text-align: center;
        overflow: hidden;
    }
}

.card {
    position: relative;
    width: 100%;
    height: fit-content;
    border-radius: 20px;
    overflow: hidden;
    // box-shadow: $box-shadow--light;
    background: $grey;
    padding: 10px;
    text-decoration: none;
    transition: all ease-in-out 0.2s;

    &.card--dotted {
        background: none;
        border: solid $grey 3px;
        border-style: dotted;
    }

    &.card--white {
        box-shadow: none;
        background: white;
        min-height: fit-content;
        // height: 100%;
    }

    &.card--outline {
        box-shadow: none;
        background: none;
        border: solid $grey 4px;
        border-radius: 10px;
    }

    &.card--amenity {
        position: relative;
        height: 200px;
        width: 300px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        padding: 0;
        background: red;
        background: $tealgradient;

        &:hover {
            cursor: pointer;
        }

        .card--amenity__info {
            height: fit-content;
            min-height: 40px;
            width: 0;
            min-width: 0px;
            width: fit-content;
            padding: 10px 20px 10px 30px;
            border-top-left-radius: 40px;
            background: white;

            > div {
                color: $darkgrey;
                text-align: right;
            }
        }
    }
}

.progressbar {
    .progressbar__title {
    }

    .progressbar__capacity {
    }
}

.progressbar__bar {
    .progressbar__bar__slider {
    }
}

.rowstrip {
    position: relative;
    height: 40px;
    width: 100%;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background: linear-gradient(to bottom right, #f1f9ff 10%, #ffffff);
    padding: 5px 20px 5px 20px;
    // margin-bottom: 4px;
    transition: all 0.1s;

    &:hover {
        background: linear-gradient(to right, #a1d6ff 10%, #ffffff);
        cursor: pointer;
    }

    .rowstrip__name {
        color: $darkgrey;
        font: 600 13px $open-sans;
    }

    .rowstrip_actions {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        > div {
            margin-left: 8px;
        }
    }

    .tinybadge {
        padding: 4px;
        height: fit-content;
        width: fit-content;
        border-radius: 5px;
        background: $grey;
        color: $darkgrey;
        font: 700 8px $open-sans;
    }
}

.searchbar {
    width: 100%;
    height: 60px;
    border-radius: 30px;
    padding: 4px 20px;
    outline: none;
    border: solid $grey 2px;
    background: $lightgrey;

    margin: 0;
    font: 500 20px $poppins;
    color: $lightgrey;
    letter-spacing: 1px;

    &:hover {
        // border: solid $grey 2px;
        cursor: text;
    }

    &:focus {
        border: solid $grey 2px;
        background: white;
        font: 300 20px $poppins;
    }
}

.timeslot {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    border-radius: 50px;
    font: 300 20px $poppins;
    background: $grey;
    margin-bottom: 10px;

    > div:nth-child(3) {
        color: red;
        font: 300 20px $poppins;
    }
}
