{% extends 'base.html' %}
{% load static %}


{% block pageheader %}
{% endblock pageheader %}

{% block content %}

<div class="grid grid-style3x3-Member">
        {% block cell1 %}
        {% endblock cell1 %}

    
        {% block cell2 %}
        {% endblock cell2 %}

    
        {% block cell3 %}
        {% endblock cell3 %}
    

        {% block cell4 %}
        {% endblock cell4 %}
    

        {% block cell5 %}
        {% endblock cell5 %}
    

        {% block cell6 %}
        {% endblock cell6 %}
    
</div>
{% endblock content %}