{% extends 'grids/grid-style3x1.html' %}
{% load static %}

{% block pageheader %}
<div class="header1">{{page_title}}</div>
{% endblock pageheader %}

{% block cell1 %}
    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button>Submit</button>
    </form>
{% endblock cell1 %}

{% block cell2 %}
    {% for amenity in amenities %}
        {% include 'components/card.html' with title=amenity.name %}
        {% comment %} <div class="card">{{object}}</div> {% endcomment %}
    {% endfor %}
{% endblock cell2 %}




