{% extends 'base.html' %} {% load static %} 

{% block pageheader %}
<div class="header2 color-active">{{page_subtitle}}</div>
<div class="header1">{{page_title}}</div>
{% endblock pageheader %} 

{% block tablinks %}
<button class="button tablinks active" onclick="openTab(event, 'timeslots')">Timeslots</button>
<button class="button tablinks" onclick="openTab(event, 'details')">Details</button>
<button class="button tablinks" onclick="openTab(event, 'reservations')">Reservations</button>
<button class="button tablinks" onclick="openTab(event, 'metrics')">Metrics</button>
{% endblock tablinks %}


{% block content %}
<span id="#results"></span>

<div class="tabcontent active" id="timeslots">
    <table class="table" id="table">
        <!-- table timeslots injected here -->
    </table>
</div>
<div class="tabcontent" id="details">
    <h1>details</h1>
</div>
<div class="tabcontent" id="reservations">
    <h1>reservations</h1>
</div>
<div class="tabcontent" id="metrics">
    <h1>metrics</h1>
</div>

{% endblock content %} 

{% block sidecontainer-right %}
    <button class="button style3" onclick="showForms()">Edit Amenity</button>
    <button class="button style3" onclick="">Clear Selection</button>
    <button class="button style1"
        type="button"
        id="showresults"
        value="Spremi" >
        Step 1: Update Changed Timeslots
    </button>
    <button class="button style2" form='form'>Step 2: Save Changes</button>
    {% comment %} <span id="results"></span> {% endcomment %}
{% endblock sidecontainer-right %}

{% block forms %}
<form action="" id="form" method="POST" >
    {% csrf_token %} 
    {{amenity_form.as_p}}
    <button class="button style2">Step 2: Save Changes</button>
</form>
{% endblock forms %}


{% block scripts %}
<script> //Loading json timeslots from object into the page for the js to interact
    var jsonTimeslots = {{ jsonTimeslots | safe }};
    {% comment %} console.log(jsonTimeslots); {% endcomment %}
</script>
<script
    src="{% static 'js/manage/generateTable.js' %}"
    type="text/javascript"
    charset="utf-8"
></script>
<script
    src="{% static 'js/manage/tableInteraction.js' %}"
    type="text/javascript"
    charset="utf-8"
></script>
<script
    src="{% static 'js/manage/preloadTable.js' %}"
    type="text/javascript"
    charset="utf-8"
></script>
{% endblock scripts %} {% comment %}
<script src="script2.js" type="text/javascript" charset="utf-8"></script>
{% endcomment %} {% comment %}
<div class="header2">Member Access List</div>
<div class="card card--grey">
    <div class="body">
        {% include 'components/rowstrip.html' %} {% include
        'components/rowstrip.html' %}
    </div>
</div>

<div class="header2">Statistics</div>
<div class="card card--grey">
    <div class="grid grid-style-evensquaregrid">
        {% include 'components/badge.html' %} {% include 'components/badge.html'
        %} {% include 'components/badge.html' %} {% include
        'components/badge.html' %}
    </div>
</div>
{% endcomment %}
