{% extends 'base.html' %} {% load static %} 

{% block pageheader %}
<div class="header2 color-shade-grey">{{page_subtitle}}</div>
<div class="header1">{{page_title}}</div>
{% endblock pageheader %} 

{% block content %}

<div class="header2">Info and Gallery</div>
<button class="button style3" onclick="showForms()">Edit Amenity</button>
<button class="button style1"
    type="button"
    id="showresults"
    value="Spremi" >
    Step 1: Update Changed Timeslots
</button>
<button class="button style2" form='form'>Step 2: Save Changes</button>
<span id="results"></span>

<table class="table" id="table">
    <!-- table timeslots injected here -->
</table>


{% block forms %}
<form action="" id="form" method="POST" enctype='multipart/form-data'>
    {% csrf_token %} 
    {{amenity_form.as_p}}
    <button class="button style2">Step 2: Save Changes</button>
</form>
{% endblock forms %}

{% comment %}
<script>
    //Loading json timeslots from object into the page for the js to interact
       var timeslotJson = {{ jsonTimeslots | safe }};
       console.log(timeslotJson);
</script>
{% endcomment %} 
{% endblock content %} 

{% block scripts %}
<script
    src="{% static 'js/manage/generateTable.js' %}"
    type="text/javascript"
    charset="utf-8"
></script>
<script
    src="{% static 'js/manage/tableInteraction.js' %}"
    type="text/javascript"
    charset="utf-8"
></script>
<script
    src="{% static 'js/manage/preloadTable.js' %}"
    type="text/javascript"
    charset="utf-8"
></script>
{% endblock scripts %} {% comment %}
<script src="script2.js" type="text/javascript" charset="utf-8"></script>
{% endcomment %} {% comment %}
<div class="header2">Member Access List</div>
<div class="card card--grey">
    <div class="body">
        {% include 'components/rowstrip.html' %} {% include
        'components/rowstrip.html' %}
    </div>
</div>

<div class="header2">Statistics</div>
<div class="card card--grey">
    <div class="grid grid-style-evensquaregrid">
        {% include 'components/badge.html' %} {% include 'components/badge.html'
        %} {% include 'components/badge.html' %} {% include
        'components/badge.html' %}
    </div>
</div>
{% endcomment %}
