{% extends 'base.html' %}
{% load static %}

{% block pageheader %}
<div class="header2 color-shade-grey">{{page_subtitle}}</div>
<div class="header1">{{page_title}}</div>
{% endblock pageheader %}


{% block content %}

{% if amenity_groupings %}

    {% for place, amenities in amenity_groupings.items %}
        {% include 'components/card.html' with name="container-card style1" verified="verified" place=place amenities=amenities%}
    {% endfor %}
{% else %}
    <div class="header2">You have no places or amenities! Make one above!</div>

    <div class="card">
        <div class="header2">No Places Yet 😢 Make one below</div>
    </div>
{% endif %}

{% include 'components/button.html' with name="button style1" text="+ Place"%}
<form action="" method="POST" enctype='multipart/form-data'>
    {% csrf_token %}

    {{place_form}}
    <button>Submit</button>
</form>


    
{% endblock content %}

