{% extends 'base.html' %} {% load static %}

{% block headers %}
<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/timeslots.css' %}"
/>
{% endblock headers %} 

{% block pageheader %}
<div class="header2 card-shade-grey">{{page_subtitle}}</div>
<div class="header1">{{page_title}}</div>
{% endblock pageheader %} 

{% block content %}
<span>{{jsonTimeslots}}</span>

{% comment %} {% include 'components/card.html' with name="container-card style4" jsonTimeslots=jsonTimeslots%} {% endcomment %}
<div class="container-card style4" id="container">
    {% for day, timeslots in jsonTimeslots.items %}
        {% include 'components/card.html' with name="availability-card" day=day timeslots=timeslots %}
    {% endfor %}
    
    {% comment %} <div class="availability-card">
        <div class="header2 color-shade-grey">{{day}}</div>
        <div class="body1 color-shade-grey">MM/DD/YYYY</div>
        <div class="rectangle">
    
            {% for timeslot in timeslots %}
            <div class="timeslot ">
                <div class="body2">{{timeslot}}</div>
            </div>
            {% endfor %}
            <div class="timeslot selected ">
                <div class="body2">00:00-03:00</div>
            </div>
            <div class="timeslot reserved">
                <div class="body2">00:00-03:00</div>
            </div>
            <div class="timeslot unavailable">
                <div class="body2">00:00-03:00</div>
            </div>
        </div>
    </div> {% endcomment %}

</div>

{% endblock content %}


{% block scripts %}

<script> //Loading json timeslots from object into the page for the js to interact
    var jsonTimeslots = {{ jsonTimeslots | safe }};
    console.log(jsonTimeslots);
</script>
<script
    src="{% static 'js/member/generateAvailabilities.js' %}"
    type="text/javascript"
    charset="utf-8"
></script>
{% comment %} <script
    src="{% static 'js/manage/tableInteraction.js' %}"
    type="text/javascript"
    charset="utf-8"
></script>
<script
    src="{% static 'js/manage/preloadTable.js' %}"
    type="text/javascript"
    charset="utf-8"
></script> {% endcomment %}

{% endblock scripts %}