{% extends 'base.html' %} {% load static %}

{% block headers %}
<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/timeslots.css' %}"
/>
{% endblock headers %} 

{% block pageheader %}
<div class="header2 card-shade-grey">{{page_subtitle}}</div>
<div class="header1">{{page_title}}</div>
{% endblock pageheader %} 

{% block content %}

{% comment %} {% include 'components/card.html' with name="container-card style4" jsonTimeslots=jsonTimeslots%} {% endcomment %}
<div id="stage">

</div>


{% endblock content %}

{% block sidecontainer-right %}

<div class="availability-card">
    <div class="header2 color-accent">Selected Slots</div>
    <div class="body1 color-shade-grey"></div>
    <div class="rectangle" id="selected">

            {% comment %} <div class="body1 header Sun">Sun</div>
            <div class="body1 header Mon">Mon</div> {% endcomment %}

        </div>
    </div>

    <button class="button style2">Reserve</button>
</div>


{% endblock sidecontainer-right %}

{% block scripts %}

<script> //Loading json timeslots from object into the page for the js to interact
    var jsonTimeslots = {{ jsonTimeslots | safe }};
    console.log(jsonTimeslots);
</script>
<script
    src="{% static 'js/member/generateAvailabilities.js' %}"
    type="text/javascript"
    charset="utf-8"
></script>
<script
    src="{% static 'js/member/selectSlots.js' %}"
    type="text/javascript"
    charset="utf-8"
></script>
{% comment %} <script
    src="{% static 'js/manage/tableInteraction.js' %}"
    type="text/javascript"
    charset="utf-8"
></script>
<script
    src="{% static 'js/manage/preloadTable.js' %}"
    type="text/javascript"
    charset="utf-8"
></script> {% endcomment %}

{% endblock scripts %}