{% extends 'base.html' %}
{% load static %}

{% block pageheader %}
<div class="header2 color-shade-grey">{{page_subtitle}}</div>
<div class="header1">{{page_title}}</div>
{% endblock pageheader %}


{% block content %}

{% if amenity_groupings %}
    {% for place, amenities in amenity_groupings.items %}
        {% include 'components/card.html' with name="container-card style2" place=place amenities=amenities%}
    {% endfor %}

{% else %}
    <div class="header2">You have no places or amenities yet!</div>
{% endif %}
    
{% endblock content %}

