{% extends 'base.html' %}
{% load static %}

{% block pageheader %}
<div class="header1">{{page_title}}</div>
{% endblock pageheader %}


{% comment %} <div class="card">
    <div class="header2">Place Form</div>
    <form action="{% url 'placeform' %}" method="POST">
        {% csrf_token %}
        {{place_form.as_p}}
        <button>Submit</button>
    </form>
</div>

<div class="card">
    <div class="header2">Amenity Form</div>
    <form action="{% url 'amenityform' %}" method="POST">
        {% csrf_token %}
        {{amenity_form.as_p}}
        <button>Submit</button>
    </form>
</div> {% endcomment %}

    


{% block grid %}
    {% if amenity_groupings %}
        {% for place, amenities in amenity_groupings.items %}
            <div class="header2">{{place}}</div>

            <div class="card card--grey">
                {% for amenity in amenities %}
                    {% include 'components/card--amenity.html' with title=amenity.name %}
                {% endfor %}
            </div>
        {% endfor %}

    {% else %}
        <div class="header2">You have no places or amenities yet!</div>
    {% endif %}
{% endblock grid %}




