{% extends 'base.html' %}
{% load static %}

{% block pageheader %}
<div class="header1">{{page_title}}</div>
{% endblock pageheader %}


{% comment %} <div class="card">
    <div class="header2">Place Form</div>
    <form action="{% url 'placeform' %}" method="POST">
        {% csrf_token %}
        {{place_form.as_p}}
        <button>Submit</button>
    </form>
</div>

<div class="card">
    <div class="header2">Amenity Form</div>
    <form action="{% url 'amenityform' %}" method="POST">
        {% csrf_token %}
        {{amenity_form.as_p}}
        <button>Submit</button>
    </form>
</div> {% endcomment %}


{% block content %}
    {% if amenity_groupings %}
        {% for place, amenities in amenity_groupings.items %}
            {% include 'components/card.html' with name="container-card style2" place=place amenities=amenities%}
        {% endfor %}

    {% else %}
        <div class="header2">You have no places or amenities yet!</div>
    {% endif %}
{% endblock content %}




