{% extends 'base.html' %}
{% load static %}

{% block pageheader %}
<div class="header2 color-shade-grey">{{page_subtitle}}</div>
<div class="header1">{{page_title}}</div>
{% endblock pageheader %}


{% block content %}


{% comment %} <div class="header2">Create New Place +</div>
<div class="card card--dotted" style="margin-bottom: 20px;">
    <form action="{% url "new-place" %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{place_form.as_p}}
        <button>Create Place</button>
    </form>    
</div> {% endcomment %}

{% if amenity_groupings %}
    {% for place, amenities in amenity_groupings.items %}

        {% include 'components/card.html' with name="container-card style1" verified="verified" place=place amenities=amenities%}

        {% comment %} <div class="header2">{{place}}</div>
        <a href="{% url "new-amenity" place.id %}" class="button">
            <div class="button__text">+ New Amenity</div>
        </a> {% endcomment %}

        {% comment %} <div class="card">
            {% if amenities %}
                {% for amenity in amenities %}
                    {% include 'components/card--amenity.html' with amenity=amenity type="manage"%}
                {% endfor %}
            {% else %}
                <div class="header2">Create an amenity! 🏝</div>
            {% endif %}
        </div> {% endcomment %}

    {% endfor %}
{% else %}
    <div class="header2">You have no places or amenities! Make one above!</div>

    <div class="card">
        <div class="header2">No Places Yet 😢 Make one ^</div>
    </div>
{% endif %}
    
{% endblock content %}

