{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="main.css" rel="stylesheet">
    <link href="/BloomV2/mgmt/templates/components/components.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/components.css' %}">
    {% block headers %} {% endblock headers %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Outfit&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,800&display=swap" rel="stylesheet">
</head>

<body>
    <div class="platform-base">
        <div class="side-container" id="side-container--left">
        {% block sidecontainer-left %}
            <img src="{% static 'images/Bloom Logo-Transparent-Darker-Blue.png'%}" style="width: 40px; margin-bottom: 20px;" alt="">
            <img {% if request.user.profile.image %} src="{{ request.user.profile.image.url }}"{% endif %} alt="" 
                style="height: 60px; width: 60px; border-radius: 50%;">
            {% if request.path != "/login" %}
                <div class="body1">
                    {{request.user.first_name}}
                </div>
            {% endif %}
            {% include 'components/button.html' with name='button site-toggle' state=0 %}
        {% endblock sidecontainer-left %}
        </div>
        
        <div class="main-container">

            {% include 'components/navbar.html' %}
            <div class="main-container__header">
                {% block pageheader %}{% endblock pageheader %}
            </div>

            <div class="main-container__grid-container">
                <div class="tabs">
                    {% block tablinks %}{% endblock tablinks %}
                    
                  </div>
                {% block content %}
                {% endblock content %}
            </div>
        </div>

        <div class="side-container" id="side-container--right">
            {% block sidecontainer-right %}
            {% endblock sidecontainer-right %}
        </div>
    </div>
    
    <div class="modal" id="formModal">
        <div>
        {% block forms %}
        {% endblock forms %}
        </div>
    </div>
    
    <script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous">
    </script>
    <script>
        function openTab(e, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
              tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
              tablinks[i].classList.remove("active");
            }
            e.target.classList.add("active");
            document.getElementById(tabName).style.display = "block";
            
          }
    </script>
    <script src="{% static 'js/formModal.js' %}"></script>
    {% block scripts %}{% endblock scripts %}
</body>

</html>