{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="main.css" rel="stylesheet">
    <link href="/BloomV2/mgmt/templates/components/components.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/components.css' %}">
    {% block headers %} {% endblock headers %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Outfit&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,800&display=swap" rel="stylesheet">
</head>

<body>
    {{page_title}}

    <a href="{% url "login" %}" class="button">
        <div class="button__text">Login</div>
    </a>
    {% comment %} Sick css and js Backrounds {% endcomment %}
    {% comment %} https://codepen.io/shubniggurath/pen/dKwegY {% endcomment %}

    <img src="{% static 'images/BloomMeshBackground.png' %}" alt="">
</body>

</html>