{% load static %} 
{% load custom_tags %}

{% if name == 'container-card style1' %}
<div class="container-card style1" id="place-{{place.id}}">
    <div class="header">
        <div class="header2 ">{{place.name}}</div>
    </div>
    <div class="rectangle">
        <div>
            {% include 'components/card.html' with name="place-card" place=place %}
        </div>
        
        <div>
            {% include 'components/card.html' with name="info-card" title="Email" value=place.email %}
            {% include 'components/card.html' with name="info-card" title="Phone Number" value=place.phone_number %}
            {% include 'components/card.html' with name="info-card" title="Address" value=place.address %}
            {% include 'components/card.html' with name="info-card" title="Description" value=place.description %}

            {% include 'components/button.html' with name="button style1" text="+ Create an Amenity" onclick="showForm('amenityForm')" %}
        </div>

        <div class="header2">Quick Access</div>
        <div>
            <div class="quick-look">
                {% for amenity in amenities %}
                    {% include 'components/card.html' with name="amenity-card" %} 
                {% endfor %}
                
                {% comment %} {% include 'components/card.html' with name="amenity-card" %} {% endcomment %}
            </div>
        </div>
    </div>
</div>

{% elif name == 'container-card style1-2' %}
<div class="container-card style1" id="place-{{place.id}}">
   <div class="header">
        <div class="header2 ">{{place.name}}</div>   
    </div>
    <div class="rectangle">
        <div>
            {% include 'components/card.html' with name="place-card" place=place %}
        </div>
        
        <div>


        <div class="header2">Join Requests</div>
        {% for request in joinrequests %}
            {% include 'components/card.html' with name="info-card style2" request=request%}
        {% endfor %}

        </div>

    </div>
</div>

{% elif name == 'container-card style2' %}
<div class="container-card style2" id="place-{{place.id}}">
    <div class="header">
        
        <div class="header2 color-shade-grey" >{{place.name}}</div>
        {% comment %} {{ place|serialize_model_to_dict }} {% endcomment %}
        {% comment %} {{place.serialize_model_to_dict|safe}} 
        place-{{place.id}}
        {% endcomment %}
        
        {% comment %} {% include 'components/button.html' with name="button style1" text="Manage Place" onclick="window.location='{% url 'manage-place' place.id %}';" %} {% endcomment %}

        {% url 'manage-place' place.id as place_url%}
        <button class="button style3" onclick="window.location='{{place_url}}';">Manage Place</button>
    </div>
    <div class="rectangle body1">
        {% for amenity in amenities %}
            {% include 'components/card.html' with name="amenity-card" amenity=amenity %} 
        {% endfor %}
        {% comment %} {% include 'components/button.html' with name="button style4" text="+ Create an Amenity"%} {% endcomment %}
        
        <button class="button style4" onclick="showForms()">
            <div class="overlay">
                <div class="header2">+ Create Amenity</div>
            </div>
        </button>

    </div>
</div>

{% elif name == 'container-card style3' %}
<div class="container-card style3" id="place-{{place.id}}">
        {% for place in places %}
            {% include 'components/card.html' with name="place-card" place=place %}
        {% endfor %}
</div>

{% elif name == 'container-card style4' %}
<div class="container-card style4" id="place-{{place.id}}">
    {% for day, timeslots in jsonTimeslots.items %}
        {% include 'components/card.html' with name="availability-card" day=day timeslots=timeslots %}
    {% endfor %}
    
</div>

{% elif name == 'info-card' %}
<div class="info-card">
    <div class="header3">{{title}}</div>
    <div class="header3 color-shade-grey">{{value}}</div>
</div>

{% elif name == 'info-card style2' %}
<div class="info-card style2">
    <div class="info">
        <div class="header3">{{request.profile}}</div>
        <div class="header3 color-shade-grey">{{request.date_created}}</div>
    </div>
    <div class="buttons">
        {% url 'approve-join-request' request.id as accept_url %}
        {% url 'reject-join-request' request.id as reject_url %}
        {% include 'components/button.html' with name="button style2" text="Approve" onclick="window.location='{{accept_url}}';" %}
        {% include 'components/button.html' with name="button style3" text="Reject" onclick="window.location='{{reject_url}}';" %}
        {% comment %} {% include 'components/button.html' with name="button style2" text="Approve" 
            url={% url 'approve-join-request' request.id %} %}
        {% include 'components/button.html' with name="button style2" text="Reject" 
            url={% url 'reject-join-request' request.id %} %} {% endcomment %}
    </div>
</div>

{% elif name == 'place-card' %}
{% comment %} <a href="{% url "send-join-request" place.id %}">Send Request</a> {% endcomment %}
<div class="place-card {{verified}}" 
    {% if place.image or place.backup_image_url %} 
    style="
        background: url({% if place.image %} {{place.image.url}} {% else %} {{place.backup_image_url}} {% endif %} );
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;" 
    
    {% endif %}

    {% if "manage" in request.path %} 
    onclick="window.location='{% url "manage-places"%}#place-{{place.id}}';"
    {% elif "member" in request.path %}
    onclick="window.location='{% url "member-dashboard"%}#place-{{place.id}}';"
    {% endif %}
    >

    <div class="info">
        <div class="header2 color-shade-white">{{place.name}}</div>
    </div>
    <img src="{% static "images/Verified Checkmark.svg" %}" alt="">

    
    <div class="overlay" >
        <div class="header2 color-shade-white">Send a Join Request</div>
    </div>
</div>

{% elif name == 'availability-card' %}
<div class="availability-card">
    <div class="header2 color-shade-grey">{{day}}</div>
    <div class="body1 color-shade-grey">MM/DD/YYYY</div>
    <div class="rectangle">

        {% for timeslot in timeslots %}
        <div class="timeslot ">
            <div class="body2">{{timeslot}}</div>
        </div>
        {% endfor %}
        <div class="timeslot selected ">
            <div class="body2">00:00-03:00</div>
        </div>
        <div class="timeslot reserved">
            <div class="body2">00:00-03:00</div>
        </div>
        <div class="timeslot unavailable">
            <div class="body2">00:00-03:00</div>
        </div>
    </div>
</div>

{% elif name == 'amenity-card' %}
<div class="amenity-card" id="amenity-{{amenity.id}}" 
    {% if amenity.image or amenity.backup_image_url %} 
    style="
        background: url({% if amenity.image %} {{amenity.image.url}} {% else %} {{amenity.backup_image_url}} {% endif %} );
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;" 

    {% endif %}
    {% if "manage" in request.path %} 
    onclick="window.location='{% url "manage-amenity" amenity.id %}';"
    {% elif "member" in request.path %}
    onclick="window.location='{% url "member-amenity" amenity.id %}';"
    {% endif %}>


    <div class="info">
        <div class="header3">{{amenity.name}}</div>
    </div>
</div>
{% else %}
<div class="card">
    <div class="header2 color-shade-grey">Place Name</div>
    <div class="rectangle body1">sdfsfaf</div>
</div>

{% endif %} 