{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/BloomV2/static/css/components.css" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/components.css' %}"> -->
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins&family=Montserrat&family=Oxygen&family=Nunito&family=Open+Sans&display=swap"
        rel="stylesheet">
    
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Outfit&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,800&display=swap" rel="stylesheet">
    
        
</head>

<body>

    <div class="memberstrip">
        <div class="memberstrip__name body">Member Name</div>
        <div class="memberstrip_actions">
            <a class="button">
                <div class="button__text">Manage</div>
            </a>
            <div class="tinybadge">12</div>
        </div>
    </div>


    <div class="header1">Page Title</div>

    <div class="header2">Section Title</div>
    
    <div class="header3">Section SubTitle</div>

    <div class="body-text">Body</div>

    <a href="" class="button">
        <div class="button__text">Button Text</div>
    </a>
    
    <a href="" class="button">
        <div class="button__text button__text--light">Button Text</div>
    </a>

    <div class="badge">
        <div class="badge__value">4330</div>
        <div class="badge__title">Title</div>
    </div>

    <!-- <div class="strip">
        <div class="strip__title">Title</div>
        <div class="strip__value">Value</div>
        <div class="strip__accent"></div>
    </div> -->

    <div class="table-banner">
        <div class="table-banner__title">Title</div>
        <div class="table-banner__amount">Amount</div>
        <div class="table-banner__button">
            <a href="" class="button">
                <div class="button__text button__text--normal">Button Text</div>
            </a>
        </div>
    </div>

    <table class="table">
        <tr class="table__tr table__tr--header">
            <th class="table__th">Header 1</th>
            <th class="table__th">Header 2</th>
            <th class="table__th">Header 3</th>
        </tr>
        <tr class="table__tr">
            <td class="table__td">Line 1</td>
            <td class="table__td">Line 1</td>
            <td class="table__td">Line 1</td>
        </tr>
    </table>

    <div class="profileicon">
        <img src="" alt="" class="profileicon__image">
        <div class="profileicon__name">Name of Person</div>
    </div>

    <div class="card card--grey">
        <div class="header2">Header 2</div>
        <div class="card__content">
        </div>
    </div>

    <div class="card">
        <div class="header3">Header 3</div>
        <div class="card__content">sdfs</div>
    </div>

    
    <div class="progressbar">
        <div class="progressbar__title"></div>
        <div class="progressbar__capacity"></div>
        <div class="progressbar__bar">
            <div class="progressbar__bar__slider"></div>
        </div>
    </div>

    
</body>

</html>