{% load static %} 

{% if name == 'loginform' %}
<form method="POST" class="form" id="form" action="{% url 'login_request' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="header">
        <div class="title">Form Name</div>
        <div class="subtitle">Subtitle</div>
    </div>

    <div class="content">
        {{form}}

        {% for field in form.fields %}

        <label  for="">{{field.label}}</label>
        {{field}}
        
        {% endfor %}
        <p>
            <label  for="">Label</label>
            <input placeholder="Hello" type="text">
        </p>

        <hr>

        {% include 'components/button.html' with name="button style5" text="login" type="submit"%}

</div>
    

</form>

{% else %}
<form method="POST" class="form" id="form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="header">
        <div class="title">Form Name</div>
        <div class="subtitle">Subtitle</div>
    </div>

    <div class="content">

        
        <p>
            <input placeholder="Hello" type="text">
        </p>

        <hr>

        {% include 'components/button.html' with name="button style5" text="login" type="submit"%}

</div>
    

</form>

{% endif %} 