{% load static %}

{% comment %} <div class="item" onclick="window.location='{% url "landingpage" %}';">
    <img src="{% static 'images/Bloom Logo-Transparent-Darker-Blue.png' %}" alt="" class="navbar__logo">
</div> {% endcomment %}

{% if "manage" in request.path %} 
<div class="navbar">
    <div class="link_text" onclick="window.location='{% url "manage-dashboard" %}';">Dashboard</div>
    <div class="link_text"  onclick="window.location='{% url "manage-places" %}';">Places & Amenities</div>
    <div class="link_text"  onclick="window.location='{% url "join-requests" %}';">Join Request</div>
    <div class="link_text"  onclick="window.location='{% url "manage-profilepage" %}';">Your Profile</div>
    <div class="link_text"  onclick="window.location='{% url "logout" %}';">Logout</div>
</div>

{% elif "member" in request.path %} 
<div class="navbar">
    <div class="link_text" onclick="window.location='{% url "member-dashboard" %}';">Dashboard</div>
    <div class="link_text"  onclick="window.location='{% url "member-community" %}';">Find a Community</div>
    <div class="link_text"  onclick="window.location='{% url "member-profilepage" %}';">Your Profile</div>
    <div class="link_text"  onclick="window.location='{% url "logout" %}';">Logout</div>
</div>

{% endif %}