{% load static %}

{% comment %} <div class="item" onclick="window.location='{% url "landingpage" %}';">
    <img src="{% static 'images/Bloom Logo-Transparent-Darker-Blue.png' %}" alt="" class="navbar__logo">
</div> {% endcomment %}

{% if "manage" in request.path %} 
<div class="navbar">
    <div class="link_text" onclick="window.location='{% url "manage:manage-dashboard" %}';">Dashboard</div>
    <div class="link_text"  onclick="window.location='{% url "manage:manage-places" %}';">Places & Amenities</div>
    <div class="link_text"  onclick="window.location='{% url "manage:join-requests" %}';">Join Request</div>
    {% comment %} <div class="link_text"  onclick="window.location='{% url "manage:manage-profilepage" %}';">Your Profile</div> {% endcomment %}
    <div class="link_text"  onclick="window.location='{% url "auth:logout" %}';">Logout</div>
</div>

{% elif "member" in request.path %} 
<div class="navbar">
    <div class="link_text" onclick="window.location='{% url "member:member-dashboard" %}';">Dashboard</div>
    <div class="link_text"  onclick="window.location='{% url "member:member-community" %}';">Find a Community</div>
    {% comment %} <div class="link_text"  onclick="window.location='{% url "member:member-profilepage" %}';">Your Profile</div> {% endcomment %}
    <div class="link_text"  onclick="window.location='{% url "auth:logout" %}';">Logout</div>
</div>

{% endif %}