{% load static %}
<table class="table">
    <tr class="row-header">
        <th class="header3">Table Header</th>
        <th class="header4">Table Header</th>
        <th class="header4">Table Header</th>
        <th class="header4">Table Header</th>
        <th class="header4">Table Header</th>
        <th class="header4">Table Header</th>
    </tr>
    <tr class="row">
        <td class="body1 selected">Cell</td>
        <td class="body1 selected">Cell</td>
        <td class="body1 selected">Cell</td>
        <td class="body1">Cell</td>
        <td class="body1">Cell</td>
        <td class="body1">Cell</td>
    </tr>
</table>
