{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="main.css" rel="stylesheet">
    <link href="/BloomV2/mgmt/templates/components/components.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/components.css' %}">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins&family=Montserrat&family=Oxygen&family=Nunito&family=Open+Sans&display=swap"
        rel="stylesheet">
        
</head>

<body>
  
    <div class="platform-base">
        <div class="main-container">
            <div class="main-container__page-title">
                <div class="header3">Subtitle</div>
                <div class="header1">Page Title</div>
            </div>
            <div class="main-container__grid-container">
                Grid 1
                <div class="grid grid-style3x1">
                    <div class="card card--grey">
                        <div class="header2">Section Title</div>
                    </div>
                    <div class="card card--grey">
                        <div class="header2">Section Title</div>
                    </div>
                    <div class="card card--grey">
                        <div class="header2">Section Title</div>
                    </div>
                </div>
                Grid 2
                <div class="grid grid-style3x2">
                    <div class="card card--grey">
                        <div class="header2">Section Title</div>
                    </div>
                    <div class="card card--grey">
                        <div class="header2">Section Title</div>
                    </div>
                    <div class="card card--grey">
                        <div class="header2">Section Title</div>
                    </div>
                    
                </div>
                Grid 3
                <div class="grid grid-style2x1-1">
                    <div class="card card--grey">
                        <div class="header2">Section Title</div>
                    </div>
                    <div class="card card--grey">
                        <div class="header2">Section Title</div>
                    </div>
                    <div class="card card--grey">
                        <div class="header2">Section Title</div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>

</html>