<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="main.css" rel="stylesheet">
    <link href="/BloomV2/mgmt/templates/components/components.css" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins&family=Montserrat&family=Oxygen&family=Nunito&family=Open+Sans&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="main-grid">
        <div class="main-grid__page-title page-title">Dashboard</div>
        <div class="main-grid__section" id="main-grid__section-1">
            <div class="main-grid__section-title section-title">Section 1</div>
            <div class="main-grid__section-content section-content">
                <div class="grid grid-autofill" id="amenity-snapshot-grid">
                    <div class="card">
                        <div class="card__header">
                            <div class="card__header__left">Title</div>
                            <div class="card__header__middle">Info</div>
                            <div class="card__header__right">
                                <a href="" class="button">
                                    <div class="button__text button__text--light">Button Text</div>
                                </a>
                            </div>        
                        </div>
                        <div class="card__content">sdfs</div>
                    </div>
                    <div class="card">
                        <div class="card__header">
                            <div class="card__header__left">Title</div>
                            <div class="card__header__middle">Info</div>
                            <div class="card__header__right">
                                <a href="" class="button">
                                    <div class="button__text button__text--light">Button Text</div>
                                </a>
                            </div>        
                        </div>
                        <div class="card__content">sdfs</div>
                    </div>
                    
                    
                    
                    <!-- <div>Cell 1</div>
                    <div>Cell 2</div>
                    <div>Cell 3</div>
                    <div>Cell 4</div> -->
                </div>
            </div>
        </div>
        <div class="main-grid__section" id="main-grid__section-2">
            <div class="main-grid__section-title section-title">Section 2</div>
            <div class="main-grid__section-content section-content">
                <div class="grid grid-stats" id="member-snapshot-grid">
                    <div class="grid-stats__badges">
                        <div class="badge">
                            <div class="badge__value">145</div>
                            <div class="badge__title">Members</div>
                        </div>
                        <div class="badge">
                            <div class="badge__value">{{value}}</div>
                            <div class="badge__title">{{title}}</div>
                        </div>
                        <div class="badge">
                            <div class="badge__value">{{value}}</div>
                            <div class="badge__title">{{title}}</div>
                        </div>
                        <div class="badge">
                            <div class="badge__value">{{value}}</div>
                            <div class="badge__title">{{title}}</div>
                        </div>
                        <div class="badge">
                            <div class="badge__value">{{value}}</div>
                            <div class="badge__title">{{title}}</div>
                        </div>
                    </div>
                    <div class="grid-stats__cards">
                        <div class="card-groupcard">
                            <div class="card-groupcard__title">Group Title</div>
                            <div class="card-groupcard__content">
                                
                            </div>
                        </div>
                    </div>
                    

                    <!-- <div class="card">
                        <div class="card__header">
                            <div class="card__header__left">Title</div>
                            <div class="card__header__middle">Info</div>
                            <div class="card__header__right">
                                <a href="" class="button">
                                    <div class="button__text button__text--light">Button Text</div>
                                </a>
                            </div>        
                        </div>
                        <div class="card__content">sdfs</div>
                    </div> -->
                </div>
            </div>
        </div>

        <div class="main-grid__section" id="main-grid__section-3">
            <div class="main-grid__section-title section-title">Section 3</div>
            <div class="main-grid__section-content section-content">
                <div class="strip">
                    <div class="strip__title">{{title}}</div>
                    <div class="strip__value">{{value}}</div>
                    <div class="strip__accent"></div>
                </div>
                <div class="strip">
                    <div class="strip__title">{{title}}</div>
                    <div class="strip__value">{{value}}</div>
                    <div class="strip__accent"></div>
                </div>
                <div class="strip">
                    <div class="strip__title">{{title}}</div>
                    <div class="strip__value">{{value}}</div>
                    <div class="strip__accent"></div>
                </div>
                <div class="strip">
                    <div class="strip__title">{{title}}</div>
                    <div class="strip__value">{{value}}</div>
                    <div class="strip__accent"></div>
                </div>
            </div>
        </div>

        <div class="main-grid__section" id="main-grid__section-4">
            <div class="main-grid__section-title section-title">Section 4</div>
            <div class="main-grid__section-content section-content">
                <table class="table">
                    <tr class="table__tr table__tr--header">
                        <th class="table__th">{{header1}}</th>
                        <th class="table__th">{{header2}}</th>
                        <th class="table__th">{{header3}}</th>
                    </tr>
                    <tr class="table__tr">
                        <td class="table__td">Line 1</td>
                        <td class="table__td">Line 1</td>
                        <td class="table__td">Line 1</td>
                    </tr>
                </table>
            </div>
        </div>
        
    </div>

</body>

</html>