{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="main.css" rel="stylesheet">
    <link href="/BloomV2/mgmt/templates/components/components.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/components.css' %}">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins&family=Montserrat&family=Oxygen&family=Nunito&family=Open+Sans&display=swap"
        rel="stylesheet">
        
</head>

<body>
  
    <div class="platform-base">
        <div class="side-container">
            {% include 'components/navbar.html' %}
        </div>
        
        <div class="main-container">
            <div class="main-container__header">
                {% block pageheader %}
                {% endblock pageheader %}
            </div>

            <div class="main-container__grid-container">
                {% block grid %}
                {% endblock grid %}
            </div>
        </div>

        <div class="side-container">Side Container</div>
    </div>
</body>

</html>